/* HERO */

.hero {
  background: url(../IMAGES/Aktuelles/aktuelles-brille.jpg), linear-gradient(rgba(0, 102, 178, 0.99),
      rgba(0, 102, 178, 0.15));
  height: 65vh;
  background-position: 0 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CONTENT */

.aktuelles__content {
  text-align: center;
  padding: 4em 0 4em 0;
}

.aktuelles__content h2 {
  padding: 0 0 1em 0;
}