/* HERO */

.hero {
  background: url("../IMAGES/Heros/hero-aktuelles.jpg");
  height: 60vh;
  background-position: 0 28.5%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CONTENT */

.aktuelles__header {
  padding: 3rem 0 1rem 0;
}

.aktuelles__grid_2020 {
  padding: 0rem 0 4rem 0;
}

.aktuelles__grid--content h3 {
  padding: 0.75rem 0 0.25rem 0;
}


/* GRID */

.aktuelles__grid_2021,
.aktuelles__grid_2020 {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  margin: 0 0.5rem 0 0.5rem;
}

.aktuelles__grid--content {
  position: relative;
  justify-items: center;
  margin: 0 auto;
}

.aktuelles__grid--image {
  display: block;
  width: 100%;
  border-radius: 5px;
  margin: 0 auto;
}



/* KONTAKT */

/* .kontakt__content {
  text-align: left;
  padding: 4em 0 4em 0;
}

.kontakt__content h3 {
  padding: 2em 0 1em 0;
}

.kontakt__content p {
  padding: 0 0 2em 0;
}

.kontakt__content a {
  text-decoration: none;
  margin: 0 0 4em 0;
} */

@media (min-width: 600px) {}

@media (min-width: 900px) {

  .hero {
    height: 65vh;
    background-position: 0 28.5%;
  }

  .aktuelles__header {
    padding: 4rem 0 1.5rem 0;
  }

  .aktuelles__grid_2020 {
    padding: 0rem 0 6rem 0;
  }
  
  .aktuelles__grid--content h3 {
    padding: 1rem 0 0.5rem 0;
  }

  /* GRID */

  .aktuelles__grid_2021,
  .aktuelles__grid_2020 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
  }
}

@media (min-width: 1200px) {

  .hero {
    height: 70vh;
    background-position: 0 15%;
  }

  .aktuelles__header {
    padding: 6rem 0 3rem 0;
  }

  .aktuelles__grid_2020 {
    padding: 0rem 0 8rem 0;
  }
  
  .folgt {
    padding-bottom: 6rem;
  }

  .aktuelles__2021 {
    min-height: 80vh;
  }

  /* GRID */

  .aktuelles__grid_2021,
  .aktuelles__grid_2020 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    column-gap: 2.5rem;
    justify-items: center;
  }
  
  .aktuelles__grid--content {
    position: relative;
    justify-items: center;
  }
  
  .aktuelles__grid--image {
    width: 100%;
    margin-bottom: 1rem;
    margin: 0 auto;
  }


   /* KONTAKT */
  /* 
   .kontakt__content {
    text-align: center;
    padding: 10em 0 8em 0;
  }
  
  .kontakt__content h3 {
    padding: 2em 0 1em 0;
  }
  
  .kontakt__content p {
    padding: 0 0 2em 0;
   }
  
  .kontakt__content a {
    margin: 0 0 4em 0;
  } */
}