/* HERO */

.hero {
  background: linear-gradient(to left, rgba(0,0,0,0) 60%,
              rgba(0,0,0,1)), url("../IMAGES/Heros/hero-branchen.jpg");
  min-height: 65vh;
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1;
  font-weight: lighter;
  text-shadow: 3px 3px 3px rgb(0, 0, 0), 6px 6px 6px rgb(0, 0, 0);
  padding: 5% 15px 3%;
}


/* INTRO */

.intro-branchen {
  text-align: left;
}

.intro-branchen__content {
  padding: 4rem 15px 5rem;
  width: 100% !important;
}

.intro-branchen__header h2 {
  padding: 0rem 0 1rem 0;
}

.intro-branchen__header p {
  padding: 0rem 0 4rem 0;
}

.zertifikat {
  display: inline-block;
}

.zertifikat:hover {
  transform: scale(0.98);
  transition: scale 1.5s ease-in-out;
  /* filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2)); */
}


/* BRANCHEN */

.details-branchen {
  margin: 0 auto;
}

.details-branchen__image {
  padding-bottom: 4rem;
}

.btn__kontakt-branchen {
  padding: 2rem 0;
}


/* LUFT- UND RAUMFAHRT */

.luft-und-raumfahrt {
  background: url("../IMAGES/Branchen/Luft-und-Raumfahrt/luftundraumfahrt.jpg");
  height: 500px;
  background-position: 30% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-bottom: 1rem; */
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.details-branchen__content--luft-und-raumfahrt {
  padding: 5rem 2.5rem 4.5rem 2rem;
}

.details-branchen__content--luft-und-raumfahrt h2 {
  padding: 0rem 0rem 1rem 0;
}

.details-branchen__content--luft-und-raumfahrt p {
  padding: 0rem 0rem 1rem 0;
}


/* MEDIZINTECHNIK */

.medizintechnik {
  background: url("../IMAGES/Branchen/Medizintechnik/medizintechnik.jpg");
  height: 500px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.details-branchen__content--medizintechnik {
  padding: 5rem 2.5rem 4.5rem 2rem;
}

.details-branchen__content--medizintechnik h2 {
  padding: 0rem 0rem 1rem 0;
}

.details-branchen__content--medizintechnik p {
  padding: 0rem 0rem 1rem 0;
}


/* REHATECHNIK */

.rehatechnik {
  background: url("../IMAGES/Branchen/Rehatechnik/rehatechnik.jpg");
  height: 500px;
  background-position: 40% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.details-branchen__content--rehatechnik {
  padding: 5rem 2.5rem 4.5rem 2rem;
}

.details-branchen__content--rehatechnik h2 {
  padding: 0rem 0rem 1rem 0;
}

.details-branchen__content--rehatechnik p {
  padding: 0rem 0rem 1rem 0;
}


/* SENSORTECHNIK */

.sensortechnik {
  background: url("../IMAGES/Branchen/Sensortechnik/sensortechnik.jpg");
  height: 500px;
  background-position: 40% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.details-branchen__content--sensortechnik {
  padding: 5rem 2.5rem 4.5rem 2rem;
}

.details-branchen__content--sensortechnik h2 {
  padding: 0rem 0rem 1rem 0;
}

.details-branchen__content--sensortechnik p {
  padding: 0rem 0rem 1rem 0;
}


/* LEBENSMITTELTECHNIK */

.lebensmitteltechnik {
  background: url("../IMAGES/Branchen/Lebensmitteltechnik/lebensmitteltechnik.jpg");
  height: 500px;
  background-position: 30% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.details-branchen__content--lebensmitteltechnik {
  padding: 5rem 2.5rem 4.5rem 2rem;
}

.details-branchen__content--lebensmitteltechnik h2 {
  padding: 0rem 0rem 1rem 0;
}

.details-branchen__content--lebensmitteltechnik p {
  padding: 0rem 0rem 1rem 0;
}


/* VERTEIDIGUNGS- UND WEHRTECHNIK */

.verteidigungs-und-wehrtechnik {
  background: url("../IMAGES/Branchen/Verteidigings-und-Wehrtechnik/verteidigungsundwehrtechnik.jpg");
  height: 500px;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.details-branchen__content--verteidigungs-und-wehrtechnik {
  padding: 5rem 2.5rem 4.5rem 2rem;
}

.details-branchen__content--verteidigungs-und-wehrtechnik h2 {
  padding: 0rem 0rem 1rem 0;
}

.details-branchen__content--verteidigungs-und-wehrtechnik p {
  padding: 0rem 0rem 1rem 0;
}


/* MOTORSPORT */

.motorsport {
  background: url("../IMAGES/Branchen/Motorsport/motorsport_cure_mannheim.jpg");
  height: 500px;
  background-position: 60% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.details-branchen__content--motorsport {
  padding: 2rem 2.5rem 4.5rem 2rem;
  justify-items: space-between;
}

.details-branchen__content--motorsport h2 {
  padding: 0rem 0rem 1rem 0;
}

.details-branchen__content--motorsport p {
  padding: 0rem 0rem 1rem 0;
}

.kontakt__content {
  width: 100% !important;
  padding: 4rem 15px;
  text-align: left;
}
/* MEDIAQUERIES */

.branchen-wrap .branchen-img {
  height: 50vh;
  background-position: 40% 65%;
  clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
}

.branchen-wrap .branchen-row {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  padding: 0 2.25rem;
}

.branchen-wrap .branchen-row .branchen-content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.branchen-wrap .branchen-row .branchen-content h2 {
  margin-bottom: 16px;
}

.branchen-wrap .branchen-row .branchen-content p {
  margin-bottom: 16px;
}

.branchen-wrap .branchen-row .branchen-content a {
  padding: 0;
}

.branchen-wrap .branchen-row .branchen-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.branchen-wrap .branchen-row .branchen-image img {
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 1800px) {
  .branchen-wrap .branchen-img {
    height: 45vh;
    background-position: 40% 65%;
    clip-path: polygon(100% 0, 100% 90%, 85% 90%, 72% 100%, 60% 90%, 0 90%, 0 0);
  }
  
  .branchen-wrap .branchen-row {
    height: 55vh;
  }

  .branchen-wrap .branchen-row .branchen-content {
    width: 65%;
  }

  .branchen-wrap .branchen-row .branchen-content h2 {
    margin-bottom: 15px;
    line-height: 1.1;
    font-size: 26px;
  }

  .branchen-wrap .branchen-row .branchen-content p {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .branchen-wrap .branchen-row .branchen-image {
    width: 35%;
  }
}

@media (max-width: 1200px) {
  .branchen-wrap .branchen-img {
    height: 40vh;
  }
  
  .branchen-wrap .branchen-row {
    height: 60vh;
  }

  .branchen-wrap .branchen-row .branchen-content h2 {
    margin-bottom: 10px;
    line-height: 1;
    font-size: 24px;
  }

  .branchen-wrap .branchen-row .branchen-content p {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 12px;
  }
}

@media (max-width: 900px) {
  .branchen-wrap .branchen-img {
    height: 500px;
  }
  
  .branchen-wrap .branchen-row {
    height: auto;
    padding: 50px 2rem;
  }

  .branchen-wrap .branchen-row .branchen-content {
    width: 100%;
    margin-bottom: 25px;
  }

  .branchen-wrap .branchen-row .branchen-content h2 {
    margin-bottom: 15px;
    line-height: 1.1;
    font-size: 26px;
  }

  .branchen-wrap .branchen-row .branchen-content p {
    font-size: 15px;
    line-height: 1.3;
    margin-bottom: 15px;
  }

  .branchen-wrap .branchen-row .branchen-image {
    width: 100%;
  }

  .branchen-wrap .branchen-row .branchen-image img {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .branchen-wrap .branchen-img {
    height: 380px;
  }
  
  .branchen-wrap .branchen-row {
    padding: 35px 15px 40px;
  }

  .branchen-wrap .branchen-row .branchen-content {
    margin-bottom: 20px;
  }

  .branchen-wrap .branchen-row .branchen-image img {
    max-width: 380px;
  }

  .branchen-wrap .branchen-row .branchen-content h2 {
    margin-bottom: 16px;
    line-height: 1.2;
    font-size: 24px;
  }

  .branchen-wrap .branchen-row .branchen-content p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 16px;
  }
}

@media (max-width: 480px) { 
  .branchen-wrap .branchen-img {
    height: 340px;
  }
}

@media (min-width: 600px) {

  .hero {
    min-height: 65vh;
    background-position: 0 5%;
  }

  .hero__title {
    padding: 10% 2rem 2%;
  }

  /* INTRO */

  .intro-branchen {
    text-align: center;
  }

  .intro-branchen__content {
    padding: 60px 2rem;
  }

  /* BRANCHEN */

  .details-branchen__content {
    width: 75%;
    margin: 0;
  }

  .luft-und-raumfahrt {
    height: 800px;
    background-position: 50% 25%;
  }

  .details-branchen__content--luft-und-raumfahrt {
    padding: 5rem 0 6.5rem 5%;
  }

  .medizintechnik {
    height: 800px;
    background-position: 50% 90%;
  }

  .details-branchen__content--medizintechnik {
    padding: 5rem 0 6.5rem 5%;
  }

  .rehatechnik {
    height: 800px;
    background-position: 60% 25%;
  }

  .details-branchen__content--rehatechnik {
    padding: 5rem 0 6.5rem 5%;
  }

  .sensortechnik {
    height: 800px;
    background-position: 40% 25%;
  }

  .details-branchen__content--sensortechnik {
    padding: 5rem 0 6.5rem 5%;
  }

  .lebensmitteltechnik {
    height: 800px;
    background-position: 20% 90%;
  }

  .details-branchen__content--lebensmitteltechnik {
    padding: 5rem 0 6.5rem 5%;
  }

  .verteidigungs-und-wehrtechnik {
    height: 750px;
    background-position: 20% 25%;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik {
    padding: 5rem 0 6.5rem 5%;
  }

  .motorsport {
    height: 750px;
    background-position: 55% 25%;
  }

  .details-branchen__content--motorsport {
    padding: 5rem 0 6.5rem 5%;
  }

  .kontakt__content {
    width: 100% !important;
    padding: 4rem 2rem;
    text-align: left;
  }
}

@media (min-width: 900px) {

  .hero {
    min-height: 55vh;
    background-position: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .hero .hero__content {
    width: 100%;
  }

  .hero__title {
    padding: 30% 2.25rem 2%;
  }

  /* SCROLL */

  .full-scroll {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  /* .full-section {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    overflow: hidden;
  } */

  main {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  main > * {
    scroll-snap-align: start;
  }

  /* INTRO */

  .intro-branchen {
    min-height: 65vh;
    text-align: center;
  }

  .details-branche {
    justify-items: center;
    align-items: center;
  }

  .intro-branchen__content {
    padding: 120px 2.25rem 50px;
    width: 100% !important;
  }

  /* BRANCHEN */

  .details-branchen {
    margin: 0 auto;
    justify-content: space-between;
  }

  /* .details-branchen__content {
    width: 70%;
  } */

  .details-branchen__image {
    width: 90%;
  }

  /* LUFT- UND RAUMFAHRT */

  .luft-und-raumfahrt {
    height: 45vh;
    background-position: 40% 65%;
  }

  .details-branchen__content--luft-und-raumfahrt {
    height: 55vh;
    width: 100%;
    padding: 0rem 0rem 5rem 10%;
  }

  .details-branchen__content--luft-und-raumfahrt p {
    width: 100%;
  }

  .details-branchen__image--luft-und-raumfahrt {
    padding: -4rem 0% 0 0%;
    margin-top: -6rem;
  }


  /* MEDIZINTECHNIK */

  /* #medizintechnik {
    margin-top: -5rem;
  } */

  .medizintechnik {
    height: 45vh;
    background-position: 90% 65%;
  }

  .details-branchen__content--medizintechnik {
    height: 55vh;
    width: 100%;
    padding: 0rem 0rem 5rem 10%;
  }

  .details-branchen__content--medizintechnik p {
    width: 100%;
  }

  .details-branchen__image--medizintechnik {
    padding: -4rem 0% 0 0%;
  }


  /* REHATECHNIK */

  /* #rehatechnik {
    margin-top: -5rem;
  } */

  .rehatechnik {
    height: 45vh;
    background-position: 0 35%;
  }

  .details-branchen__content--rehatechnik {
    height: 55vh;
    width: 100%;
    padding: 0rem 0rem 5rem 10%;
    margin-top: 0;
  }

  .details-branchen__content--rehatechnik p {
    width: 100%;
  }

  .details-branchen__image--rehatechnik {
    padding: -4rem 0% 0 0%;
    margin-top: -2rem;
  }


  /* SENSORTECHNIK */

  /* #sensortechnik {
    margin-top: -5rem;
  } */

  .sensortechnik {
    height: 45vh;
    background-position: 0% 75%;
  }

  .details-branchen__content--sensortechnik {
    height: 55vh;
    width: 100%;
    padding: 0rem 0rem 5rem 10%;
  }

  .details-branchen__content--sensortechnik p {
    width: 100%;
  }

  .details-branchen__image--sensortechnik {
    padding: -4rem 0% 0 0%;
    margin-top: -5rem;
    width: 80%;
  }


  /* LEBENSMITTELTECHNIK */

  /* #lebensmitteltechnik {
    margin-top: -5rem;
  } */

  .lebensmitteltechnik {
    height: 45vh;
    background-position: 100% 90%;
  }

  .details-branchen__content--lebensmitteltechnik {
    height: 55vh;
    width: 100%;
    padding: 0rem 0rem 5rem 10%;
  }

  .details-branchen__content--lebensmitteltechnik p {
    width: 100%;
  }

  .details-branchen__image--lebensmitteltechnik {
    padding: -8rem 0% 0 0%;
    width: 60%;
    margin-top: -5rem;
  }

  .details-branchen__image--lebensmitteltechnik img {
    transform: rotate(270deg);
  }


  /* VERTEIDIGUNGS- UND WEHRTECHNIK */

  /* #verteidigungs-und-wehrtechnik {
    margin-top: -5rem;
  } */

  .verteidigungs-und-wehrtechnik {
    height: 45vh;
    background-position: 35% 55%;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik {
    height: 55vh;
    width: 100%;
    padding: 0rem 0rem 5rem 10%;
    margin-top: 0;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik p {
    width: 100%;
  }

  .details-branchen__image--verteidigungs-und-wehrtechnik {
    padding: -4rem 0% 0 0%;
    margin-top: -4rem;
  }


  /* MOTORSPORT */

  /* #motorsport {
    margin-top: -5rem;
  } */

  .motorsport {
    height: 45vh;
    background-position: 0% 80%;
  }

  .details-branchen__content--motorsport {
    height: 55vh;
    width: 100%;
    padding: 0rem 0rem 5rem 10%;
    justify-items: space-between;
  }

  .details-branchen__content--motorsport h2 {
    padding-bottom: 2rem;
  }

  .details-branchen__content--motorsport p {
    width: 100%;
  }

  .details-branchen__image--motorsport {
    padding: -4rem 0% 0 0%;
    margin-top: 0rem;
    width: 80%;
  }

  /* KONTAKT */

  .kontakt {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    min-height: 60vh;
  }

  .kontakt__content {
    width: 100% !important;
    padding: 120px 2.25rem 50px;
    text-align: center;
  }

  .btn__kontakt-branchen {
    padding: 0rem 0 4rem 0%;
  }
}

@media (min-width: 1200px) {

  .hero {
    min-height: 55vh;
    background-position: 100% 40%;
  }

  .hero__title {
    padding: 15% 2.25rem 2%;
  }


  /* SCROLL */

  .full-scroll {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .full-section {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    overflow: hidden;
  }

  /* INTRO */

  .intro-branchen {
    min-height: 65vh;
    text-align: center;
  }

  .details-branche {
    justify-items: center;
    align-items: center;
  }

  .intro-branchen__content {
    padding: 120px 2.25rem 50px;
  }

  /* BRANCHEN */

  .details-branchen {
    margin: 0 auto;
    justify-content: space-between;
  }

  /* .details-branchen__content {
    width: 70%;
  } */

  .details-branchen__image {
    width: 90%;
  }

  .zurueck {
    padding-bottom: 10%;
  }

  /* LUFT- UND RAUMFAHRT */

  .luft-und-raumfahrt {
    height: 40vh;
    background-position: 40% 65%;
  }

  .details-branchen__content--luft-und-raumfahrt {
    height: 60vh;
    width: 100%;
    padding: 2% 0 2% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .details-branchen__content--luft-und-raumfahrt p {
    width: 100%;
  }

  .details-branchen__image--luft-und-raumfahrt {
    padding: 0;
  }


  /* MEDIZINTECHNIK */

  .medizintechnik {
    height: 40vh;
    background-position: 90% 65%;
  }

  .details-branchen__content--medizintechnik {
    height: 60vh;
    width: 100%;
    padding: 1.5% 0 5% 10%;
  }

  .details-branchen__content--medizintechnik p {
    width: 100%;
  }

  .details-branchen__image--medizintechnik {
    padding: 0;
  }


  /* REHATECHNIK */

  .rehatechnik {
    height: 40vh;
    background-position: 0 35%;
  }

  .details-branchen__content--rehatechnik {
    height: 60vh;
    width: 100%;
    padding: 2% 0 2% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .details-branchen__content--rehatechnik p {
    width: 100%;
  }

  .details-branchen__image--rehatechnik {
    padding: 0rem 0% 0 0%;
  }


  /* SENSORTECHNIK */

  .sensortechnik {
    height: 40vh;
    background-position: 0% 75%;
  }

  .details-branchen__content--sensortechnik {
    height: 60vh;
    width: 100%;
    padding: 2% 0 2% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .details-branchen__content--sensortechnik p {
    width: 100%;
  }

  .details-branchen__image--sensortechnik {
    padding: 0rem 0% 0 0%;
    width: 80%;
  }


  /* LEBENSMITTELTECHNIK */

  .lebensmitteltechnik {
    height: 40vh;
    background-position: 100% 90%;
  }

  .details-branchen__content--lebensmitteltechnik {
    height: 60vh;
    width: 100%;
    padding: 2% 0 2% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .details-branchen__content--lebensmitteltechnik p {
    width: 100%;
  }

  .details-branchen__image--lebensmitteltechnik {
    padding: 0;
    width: 60%;
  }

  .details-branchen__image--lebensmitteltechnik img {
    transform: rotate(270deg);
  }


  /* VERTEIDIGUNGS- UND WEHRTECHNIK */

  .verteidigungs-und-wehrtechnik {
    height: 40vh;
    background-position: 35% 55%;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik {
    height: 60vh;
    width: 100%;
    padding: 2% 0 2% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik p {
    width: 100%;
    line-height: 1.3;
  }

  .details-branchen__image--verteidigungs-und-wehrtechnik {
    padding: 0;
  }


  /* MOTORSPORT */

  .motorsport {
    height: 40vh;
    background-position: 0% 80%;
  }

  .details-branchen__content--motorsport {
    height: 60vh;
    width: 100%;
    padding: 2% 0 2% 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .details-branchen__content--motorsport h2 {
    padding-bottom: 2rem;
  }

  .details-branchen__content--motorsport p {
    width: 100%;
  }

  .details-branchen__image--motorsport {
    padding: 0;
    width: 80%;
  }

  
  /* KONTAKT */

  .kontakt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 60vh;
  }

  .kontakt__content {
    padding: 120px 2.25rem 50px;
    text-align: center;
  }

  .btn__kontakt-branchen {
    padding: 0rem 0 4rem 0%;
  }
}

@media (min-width: 1441px) {
  .details-branchen__content--motorsport p {
    line-height: 1.6;
  }
}

@media (min-width: 1800px) {

  .hero {
    min-height: 55vh;
    background-position: 100% 40%;
  }

  /* SCROLL */

  .full-scroll {
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .full-section {
    width: 100%;
    min-height: 100vh;
    min-height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
    overflow: hidden;
  }


  /* INTRO */

  .intro-branchen {
    min-height: 65vh;
    text-align: center;
  }

  .details-branche {
    justify-items: center;
    align-items: center;
  }

  .intro-branchen__content {
    padding: 120px 2.25rem 50px;
  }

  /* BRANCHEN */

  .details-branchen {
    margin: 0 auto;
    justify-content: space-between;
  }

  /* .details-branchen__content {
    width: 70%;
  } */

  .details-branchen__image {
    width: 90%;
  }

  .zurueck {
    padding-bottom: 10%;
  }

  /* LUFT- UND RAUMFAHRT */

  .luft-und-raumfahrt {
    height: 45vh;
    background-position: 40% 65%;
  }

  .details-branchen__content--luft-und-raumfahrt {
    height: 55vh;
    width: 100%;
    padding: 2% 0 2% 10%;
  }

  .details-branchen__content--luft-und-raumfahrt p {
    width: 100%;
  }

  .details-branchen__image--luft-und-raumfahrt {
    padding: 0;
  }


  /* MEDIZINTECHNIK */

  .medizintechnik {
    height: 45vh;
    background-position: 90% 65%;
  }

  .details-branchen__content--medizintechnik {
    height: 55vh;
    width: 100%;
    padding: 5% 0 5% 10%;
  }

  .details-branchen__content--medizintechnik p {
    width: 100%;
  }

  .details-branchen__image--medizintechnik {
    padding: 0;
  }


  /* REHATECHNIK */

  .rehatechnik {
    height: 45vh;
    background-position: 0 35%;
  }

  .details-branchen__content--rehatechnik {
    height: 55vh;
    width: 100%;
    padding: 2% 0 2% 10%;
  }

  .details-branchen__content--rehatechnik p {
    width: 100%;
  }

  .details-branchen__image--rehatechnik {
    padding: 0;
  }


  /* SENSORTECHNIK */

  .sensortechnik {
    height: 45vh;
    background-position: 0% 75%;
  }

  .details-branchen__content--sensortechnik {
    height: 55vh;
    width: 100%;
    padding: 2% 0 2% 10%;
  }

  .details-branchen__content--sensortechnik p {
    width: 100%;
  }

  .details-branchen__image--sensortechnik {
    padding: 0rem 0% 0 0%;
    width: 80%;
  }


  /* LEBENSMITTELTECHNIK */

  .lebensmitteltechnik {
    height: 45vh;
    background-position: 100% 90%;
  }

  .details-branchen__content--lebensmitteltechnik {
    height: 55vh;
    width: 100%;
    padding: 2% 0 2% 10%;
  }

  .details-branchen__content--lebensmitteltechnik p {
    width: 100%;
  }

  .details-branchen__image--lebensmitteltechnik {
    padding: 0;
    width: 60%;
  }

  .details-branchen__image--lebensmitteltechnik img {
    transform: rotate(270deg);
  }


  /* VERTEIDIGUNGS- UND WEHRTECHNIK */

  .verteidigungs-und-wehrtechnik {
    height: 45vh;
    background-position: 35% 55%;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik {
    height: 55vh;
    width: 100%;
    padding: 2% 0 2% 10%;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik p {
    width: 100%;
  }

  .details-branchen__image--verteidigungs-und-wehrtechnik {
    padding: 0;
  }


  /* MOTORSPORT */

  .motorsport {
    height: 45vh;
    background-position: 0% 80%;
  }

  .details-branchen__content--motorsport {
    height: 55vh;
    width: 100%;
    padding: 2% 0 2% 10%;
  }

  .details-branchen__content--motorsport h2 {
    padding-bottom: 2rem;
  }

  .details-branchen__content--motorsport p {
    width: 100%;
  }

  .details-branchen__image--motorsport {
    padding: 0;
    width: 80%;
  }

  
  /* KONTAKT */

  .kontakt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    min-height: 60vh;
  }

  .btn__kontakt-branchen {
    padding: 0rem 0 4rem 0%;
  }
}