html {
  font-family: sans-serif;
}
body {
  margin: 0;
}

.cookie-pop-up {
  z-index: 100;
  position: absolute;
  bottom: 1em;
  right: 1em;
  background: #0066b2;
  padding: 1.5em;
  width: 350px;
  height: auto;
  max-width: calc(100% - 2em);
  max-height: calc(100% - 2em);
  overflow: auto;
  border-radius: 15px;
  color: white;
  box-sizing: border-box;
}
.cookie-pop-up h2 {
  color: white;
  margin: 0 0 0.25em 0;
}
.cookie-pop-up p {
  line-height: 1.5;
  font-size: 1em;
  color: white;
}
.cookie-pop-up hr {
  margin: 1.5em 0;
}
.cookie-pop-up button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white;
  padding: 0.5em 0.75em;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 0.5em;
  color: #0066b2;
  cursor: pointer;
}
.js-cookie-save {
  padding: 0.5em 2.5em;
}
.cookie-pop-up button.js-cookie-reject {
  color: white;
  background: transparent;
}
.cookie-pop-up button.js-cookies-manage {
  display: flex;
  background: transparent;
  border: none;
  color: white;
  padding: 0.15em 0.25em;
}
.cookie-pop-up button.js-cookies-manage:after {
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transform: translateY(0.15em) rotate(45deg);
  margin-left: 0.75em;
  transition: 300ms;
}
.cookie-pop-up button.js-cookies-manage.open:after {
  transform: translateY(0.5em) rotate(-135deg);
}
.cookie-categories {
  display: none;
}
.cookie-categories.active {
  display: block;
}
.cookie-category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.p1 {
  padding-top: 1em;
}
.cookie-category-header h3 {
  margin-bottom: 0;
  color: white;
}
hr {
  color: white;
}
.cookie-category-toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.cookie-category-toggle input:checked + .toggle {
  background: #00355c;
  border-color: #00355c;
}
.cookie-category-toggle input:checked + .toggle:before {
  transform: translateX(1.5em);
  background: white;
}
.cookie-category-toggle .toggle {
  display: flex;
  border: 1px solid #94979b;
  width: 3em;
  height: 1.5em;
  background: #94979b;
  border-radius: 1.25em;
  box-sizing: border-box;
  transition: 300ms;
}
.cookie-category-toggle .toggle:before {
  content: "";
  height: calc(2em - 10px);
  width: calc(2em - 10px);
  border-radius: 50%;
  background: white;
  transition: 300ms;
}
.pop-up-hidden {
  display: none;
}

@media (min-width: 600px) {
  html {
    font-family: sans-serif;
  }
  body {
    margin: 0;
  }
  .cookie-pop-up {
    z-index: 100;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    background: #0066b2;
    padding: 1.5em;
    width: 350px;
    height: 350px;
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    overflow: auto;
    border-radius: 15px;
    color: white;
    box-sizing: border-box;
  }
  .cookie-pop-up h2 {
    color: white;
    margin: 0 0 0.25em 0;
  }
  .cookie-pop-up p {
    line-height: 1.5;
    font-size: 1em;
    color: white;
  }
  .cookie-pop-up hr {
    margin: 1.5em 0;
  }
  .cookie-pop-up button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    padding: 0.5em 0.75em;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 0.5em;
    color: #0066b2;
    cursor: pointer;
  }
  .js-cookie-save {
    padding: 0.5em 2.5em;
  }
  .cookie-pop-up button.js-cookie-reject {
    color: white;
    background: transparent;
  }
  .cookie-pop-up button.js-cookies-manage {
    display: flex;
    background: transparent;
    border: none;
    color: white;
    padding: 0.15em 0.25em;
  }
  .cookie-pop-up button.js-cookies-manage:after {
    content: "";
    width: 0.6em;
    height: 0.6em;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: translateY(0.15em) rotate(45deg);
    margin-left: 0.75em;
    transition: 300ms;
  }
  .cookie-pop-up button.js-cookies-manage.open:after {
    transform: translateY(0.5em) rotate(-135deg);
  }
  .cookie-categories {
    display: none;
  }
  .cookie-categories.active {
    display: block;
  }
  .cookie-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .p1 {
    padding-top: 1em;
  }
  .cookie-category-header h3 {
    margin-bottom: 0;
    color: white;
  }
  hr {
    color: white;
  }
  .cookie-category-toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .cookie-category-toggle input:checked + .toggle {
    background: #00355c;
    border-color: #00355c;
  }
  .cookie-category-toggle input:checked + .toggle:before {
    transform: translateX(1.5em);
    background: white;
  }
  .cookie-category-toggle .toggle {
    display: flex;
    border: 1px solid #94979b;
    width: 3em;
    height: 1.5em;
    background: #94979b;
    border-radius: 1.25em;
    box-sizing: border-box;
    transition: 300ms;
  }
  .cookie-category-toggle .toggle:before {
    content: "";
    height: calc(2em - 10px);
    width: calc(2em - 10px);
    border-radius: 50%;
    background: white;
    transition: 300ms;
  }
  .pop-up-hidden {
    display: none;
  }
}

@media (min-width: 900px) {
  html {
    font-family: sans-serif;
  }
  body {
    margin: 0;
  }
  .cookie-pop-up {
    z-index: 100;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    background: #0066b2;
    padding: 1.5em;
    width: 400px;
    height: 400px;
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    overflow: auto;
    border-radius: 15px;
    color: white;
    box-sizing: border-box;
  }
  .cookie-pop-up h2 {
    color: white;
    margin: 0 0 0.25em 0;
  }
  .cookie-pop-up p {
    line-height: 1.5;
    font-size: 1em;
    color: white;
  }
  .cookie-pop-up hr {
    margin: 1.5em 0;
  }
  .cookie-pop-up button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    padding: 0.5em 0.75em;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 0.5em;
    color: #0066b2;
    cursor: pointer;
  }
  .js-cookie-save {
    padding: 0.5em 2.5em;
  }
  .cookie-pop-up button.js-cookie-reject {
    color: white;
    background: transparent;
  }
  .cookie-pop-up button.js-cookies-manage {
    display: flex;
    background: transparent;
    border: none;
    color: white;
    padding: 0.15em 0.25em;
  }
  .cookie-pop-up button.js-cookies-manage:after {
    content: "";
    width: 0.6em;
    height: 0.6em;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: translateY(0.15em) rotate(45deg);
    margin-left: 0.75em;
    transition: 300ms;
  }
  .cookie-pop-up button.js-cookies-manage.open:after {
    transform: translateY(0.5em) rotate(-135deg);
  }
  .cookie-categories {
    display: none;
  }
  .cookie-categories.active {
    display: block;
  }
  .cookie-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .p1 {
    padding-top: 1em;
  }
  .cookie-category-header h3 {
    margin-bottom: 0;
    color: white;
  }
  hr {
    color: white;
  }
  .cookie-category-toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .cookie-category-toggle input:checked + .toggle {
    background: #00355c;
    border-color: #00355c;
  }
  .cookie-category-toggle input:checked + .toggle:before {
    transform: translateX(1.5em);
    background: white;
  }
  .cookie-category-toggle .toggle {
    display: flex;
    border: 1px solid #94979b;
    width: 3em;
    height: 1.5em;
    background: #94979b;
    border-radius: 1.25em;
    box-sizing: border-box;
    transition: 300ms;
  }
  .cookie-category-toggle .toggle:before {
    content: "";
    height: calc(2em - 10px);
    width: calc(2em - 10px);
    border-radius: 50%;
    background: white;
    transition: 300ms;
  }
  .pop-up-hidden {
    display: none;
  }
}

@media (min-width: 1200px) {
  html {
    font-family: sans-serif;
  }
  body {
    margin: 0;
  }
  .cookie-pop-up {
    z-index: 100;
    position: fixed;
    bottom: 2em;
    right: 2em;
    background: #0066b2;
    padding: 1.5em;
    width: 350px;
    height: auto;
    max-width: calc(100% - 2em);
    max-height: calc(100% - 2em);
    overflow: auto;
    border-radius: 15px;
    color: white;
    box-sizing: border-box;
  }
  .cookie-pop-up h2 {
    color: white;
    margin: 0 0 0.25em 0;
  }
  .cookie-pop-up p {
    line-height: 1.5;
    font-size: 1em;
    color: white;
  }
  .cookie-pop-up hr {
    margin: 1.5em 0;
  }
  .cookie-pop-up button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
    padding: 0.5em 0.75em;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 0.5em;
    color: #0066b2;
    cursor: pointer;
  }
  .js-cookie-save {
    padding: 0.5em 2.5em;
  }
  .cookie-pop-up button.js-cookie-reject {
    color: white;
    background: transparent;
  }
  .cookie-pop-up button.js-cookies-manage {
    display: flex;
    background: transparent;
    border: none;
    color: white;
    padding: 0.15em 0.25em;
  }
  .cookie-pop-up button.js-cookies-manage:after {
    content: "";
    width: 0.6em;
    height: 0.6em;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transform: translateY(0.15em) rotate(45deg);
    margin-left: 0.75em;
    transition: 300ms;
  }
  .cookie-pop-up button.js-cookies-manage.open:after {
    transform: translateY(0.5em) rotate(-135deg);
  }
  .cookie-categories {
    display: none;
  }
  .cookie-categories.active {
    display: block;
  }
  .cookie-category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  .p1 {
    padding-top: 1em;
  }
  .cookie-category-header h3 {
    margin-bottom: 0;
    color: white;
  }
  hr {
    color: white;
  }
  .cookie-category-toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  .cookie-category-toggle input:checked + .toggle {
    background: #00355c;
    border-color: #00355c;
  }
  .cookie-category-toggle input:checked + .toggle:before {
    transform: translateX(1.5em);
    background: white;
  }
  .cookie-category-toggle .toggle {
    display: flex;
    border: 1px solid #94979b;
    width: 3em;
    height: 1.5em;
    background: #94979b;
    border-radius: 1.25em;
    box-sizing: border-box;
    transition: 300ms;
  }
  .cookie-category-toggle .toggle:before {
    content: "";
    height: calc(2em - 10px);
    width: calc(2em - 10px);
    border-radius: 50%;
    background: white;
    transition: 300ms;
  }
  .pop-up-hidden {
    display: none;
  }
}
