.hero {
  background: url("../IMAGES/Heros/hero-rechtliches.jpg");
  height: 40vh;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1;
  font-weight: lighter;
  word-wrap: break-word;
  text-shadow: 3px 3px 3px rgb(0, 0, 0),
    6px 6px 6px rgb(0, 0, 0);
  padding: 20% 0 0 5%;
}


/* MAIN */

.datenschutz__content {
  padding: 6em 0em 6em 0em;
}

.datenschutz__content h2 {
  padding: 0em 0em 1.5em 0em;
}

.datenschutz__content h3 {
  padding: 2em 0em 1em 0em;
  font-size: 1.2rem;
  font-weight: 300;
}

.datenschutz__content h4 {
  padding: 1em 0em 1em 0em;
  font-weight: 300;
  color: rgb(58, 58, 58);
}

.datenschutz__content p {
  padding: 0em 0em 1em 0em;
}

.address {
  font-weight: 300;
  color: rgb(58, 58, 58);
  line-height: 60%;
}

.datenschutz__content ul {
  list-style: none;
  padding: 0;
}

.datenschutz__content a:link,
.datenschutz__content a:visited {
  text-decoration: none;
  color: #94979b;
}

.datenschutz__content a:active,
.datenschutz__content a:hover {
  color: #0066b2;
}

.small {
  font-size: 0.8rem;
  font-weight: 100;
  padding-bottom: 0.25em;
}

.small-last {
  padding-bottom: 1.5em;
}


/* MEDIAQUERIES */

@media (min-width: 900px) {
  .hero__title {
    padding: 12% 0 0 2%;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    padding: 14% 0 0 2%;
  }
}