* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-y: hidden;
}
.slider {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;  
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}
section {
  border-right: 1px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
/* h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
} */

.details-leistungen__section--fertigung {
  background: linear-gradient(to left, rgba(0,0,0,0.6) 5%,
  rgba(0,0,0,0.9)), url("../IMAGES/Heros/hero-schrauben.jpeg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.fertigung__content h3,
.fertigung__content p {
  color: #ffffff;
}

.fertigung__headlines {
  text-align: right;
  align-content: flex-end;
  line-height: 2;
}

.fertigung__headlines a {
  text-decoration: none;
  color: #0066b2;
  /* text-shadow: 0.5px 0.5px 1px rgb(255, 255, 255); */
}

.fertigung__arrow:after {
  content: url("../IMAGES/Leistungen/Pfeil-Fertigung-hell.png");
  position: absolute;
  top: 40%;
  right: 0;
}

.details-leistungen__section--details img {
  display: block;
  width: 50%;
  height: auto;
}


/* MEDIAQUERIES */

@media (min-width: 1200px) {

  /* FERTIGUNG */

  .fertigung {
    display: flex;
    align-self: center;
    justify-content: space-between;
  }

  .fertigung__content {
    width: 70%;
    padding: 0 6rem 0 0;
  }

  .fertigung__content h3 {
    padding-bottom: 1rem;
  }

  .fertigung__content p {
    padding-bottom: 0.5rem;
  }

  /* DETAILS */

  .details-leistungen__section--details {
    display: flex;
    align-items: center;
    padding: 0 10rem;
  }

  .details-leistungen {
    width: 60%;
  }

  .details-leistungen h3 {
    padding-bottom: 1rem;
  }

  .text-1 {
    padding-top: 1rem;
  }

  .details-leistungen p {
    padding-bottom: 0.5rem;
  }

}