/* HERO */

.hero {
  background: url(../IMAGES/Heros/hero-gallerie-3.jpeg);
  height: 65vh;
  background-position: 5% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: clamp(2vw, 120%, 4.5rem);
  font-weight: lighter;
  text-align: center;
  text-shadow: 3px 3px 3px rgb(0, 0, 0), 6px 6px 6px rgb(0, 0, 0);
  padding: 10% 0 0 0;
}


/* GALLERIE */

.gallerie__content {
  text-align: center;
  padding: 3em 2em 3em 2em;
  margin: 0 auto;
}

.gallerie__content h2 {
  padding: 0;
  text-transform: none;
}


/* GRID */

.gallerie__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  /* row-gap: 5em;
  column-gap: 1em; */
  margin: 0 0.5em 0 0.5em;
}

.gallerie__grid--content {
  position: relative;
  justify-items: center;
  margin: 0 auto;
}

.gallerie__grid--image {
  width: 100%;
  margin-bottom: 3em;
  margin: 0 auto;
}


/* HOVER EFFECT IMAGE TITLE */

.gallerie__grid--title {
  font-size: clamp(0.9rem, 1.3vw, 1rem);
  color: #94979b;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  letter-spacing: 0.01rem;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 35px;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: opacity .8s;
}

.gallerie__grid--content:hover .gallerie__grid--title {
  opacity: 1;
}

.gallerie__grid--content:hover .gallerie__grid--image {
  transform: scale(1.2);
  transition: transform .6s;
}


/* KONTAKT */

.kontakt__content {
  padding: 5em 0 3em 0;
}


@media (min-width: 900px) {

  /* HERO */

  .hero {
    height: 75vh;
    background-position: 0 95%;
  }

  .hero__title {
    text-align: left;
    padding: 12% 0 0 5%;
  }

  /* GALLERIE */

  .gallerie__content {
    width: 60%;
    padding: 4em 0 4em 0;
  }

  /* GRID */

  .gallerie__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }


  /* KONTAKT */

  /* .kontakt__content {
    width: 60%;
  } */

}

@media (min-width: 1200px) {

  /* HERO */

  .hero {
    height: 100vh;
    background-position: 0 95%;
  }

  .hero__title {
    padding: 8% 0 0 6%;
  }

  /* GALLERIE */

  .gallerie__content {
    width: 45%;
    text-align: center;
    padding: 6em 0 8em 0;
  }


  /* GRID */

  .gallerie__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4em;
    /* row-gap: 5em;
  column-gap: 1em; */
    margin: 0 0.5em 0 0.5em;
    justify-items: center;
  }

  .gallerie__grid--content {
    position: relative;
    justify-items: center;
  }

  .gallerie__grid--image {
    width: 100%;
    /* width: 90%; */
    margin-bottom: 1em;
    margin: 0 auto;
  }


  /* KONTAKT */

  .kontakt__content {
    padding: 8em 0 3em 0;
  }


}