.hero {
  background: url("../IMAGES/Heros/impressum.jpg"), linear-gradient(rgba(0, 102, 178, 0.99),
      rgba(0, 102, 178, 0.15));
  height: 50vh;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: 4rem;
  font-weight: lighter;
  line-height: 4.5rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0),
    6px 6px 6px rgb(0, 0, 0);
  padding: 15% 0 0 14%;
}


/* IMPRESSUM */

.impressum__content {
  padding: 4em 0em 4em 0em;
}

.impressum__content h2 {
  padding: 2em 0em 0.5em 0em;
}

.impressum__content h3 {
  padding: 2em 0em 1em 0em;
  font-size: 1.2rem;
  font-weight: 300;
}

.impressum__content h4 {
  padding: 2em 0em 1em 0em;
  font-weight: 400;
  color: rgb(58, 58, 58);
}

.impressum__content .h4 {
  padding: 1.5em 0em 1.5em 0em;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(58, 58, 58);
}

.impressum__content p {
  padding: 0em 0em 1em 0em;
}

.address {
  font-weight: 300;
  line-height: 60%;
}

.impressum__text a {
  padding-bottom: 2em;
}

.impressum__content ul {
  list-style: none;
  padding: 0;
}

.impressum__content a:link,
.impressum__content a:visited {
  text-decoration: none;
  color: #94979b;
}

.impressum__content a:active,
.impressum__content a:hover {
  color: #0066b2;
}

.bankverbindung {
  width: 50%;
}


/* DISCLAIMER */

.disclaimer__content {
  padding: 0em 0em 8em 0em;
}

.disclaimer__content h2 {
  padding: 2em 0em 0.5em 0em;
}

.disclaimer__content h3 {
  padding: 2em 0em 1em 0em;
  font-size: 1.2rem;
  font-weight: 300;
}

.disclaimer__content h4 {
  padding: 2em 0em 1em 0em;
  font-weight: 400;
  color: rgb(58, 58, 58);
}

.disclaimer__content .h4 {
  padding: 1.5em 0em 1.5em 0em;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(58, 58, 58);
}

.disclaimer__content p {
  padding: 0em 0em 1em 0em;
}

.disclaimer__text a {
  padding-bottom: 2em;
}

.disclaimer__content ul {
  list-style: none;
  padding: 0;
}

.disclaimer__content a:link,
.disclaimer__content a:visited {
  text-decoration: none;
  color: #94979b;
}

.disclaimer__content a:active,
.disclaimer__content a:hover {
  color: #0066b2;
}

.disclaimer__content span {
  font-weight: 100;
}