.hero {
  background: url("../IMAGES/Heros/hero-rechtliches.jpg");
  height: 40vh;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1;
  font-weight: lighter;
  text-shadow: 3px 3px 3px rgb(0, 0, 0),
    6px 6px 6px rgb(0, 0, 0);
  padding: 15% 0 0 5%;
}


/* IMPRESSUM */

.impressum__content {
  padding: 2rem 0rem 4rem 0rem;
}

.impressum__content h2 {
  padding: 2rem 0rem 0.5rem 0rem;
}

.impressum__content h3 {
  padding: 2rem 0rem 1rem 0rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.impressum__content h4 {
  padding: 2rem 0rem 1rem 0rem;
  font-weight: 400;
  color: rgb(58, 58, 58);
}

.impressum__content .h4 {
  padding: 1.5rem 0rem 1.5rem 0rem;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(58, 58, 58);
}

.impressum__content p {
  padding: 0rem 0rem 1rem 0rem;
}

.address {
  font-weight: 300;
  line-height: 60%;
}

.impressum__text a {
  padding-bottom: 2rem;
}

.impressum__content ul {
  list-style: none;
  padding: 0;
}

.impressum__content a:link,
.impressum__content a:visited {
  text-decoration: none;
  color: #94979b;
}

.impressum__content a:active,
.impressum__content a:hover {
  color: #0066b2;
}

.bankverbindung {
  width: 50%;
}


/* DISCLAIMER */

.disclaimer__content {
  padding: 0rem 0rem 8rem 0rem;
}

.disclaimer__content h2 {
  padding: 2rem 0rem 0.5rem 0rem;
}

.disclaimer__content h3 {
  padding: 2rem 0rem 1rem 0rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.disclaimer__content h4 {
  padding: 2rem 0rem 1rem 0rem;
  font-weight: 400;
  color: rgb(58, 58, 58);
}

.disclaimer__content .h4 {
  padding: 1.5rem 0rem 1.5rem 0rem;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(58, 58, 58);
}

.disclaimer__content p {
  padding: 0rem 0rem 1rem 0rem;
}

.disclaimer__text a {
  padding-bottom: 2rem;
}

.disclaimer__content ul {
  list-style: none;
  padding: 0;
}

.disclaimer__content a:link,
.disclaimer__content a:visited {
  text-decoration: none;
  color: #94979b;
}

.disclaimer__content a:active,
.disclaimer__content a:hover {
  color: #0066b2;
}

.disclaimer__content span {
  font-weight: 100;
}


/* MEDIAQUERIES */

@media (min-width: 900px) {
  .hero__title {
    padding: 15% 0 0 2%;
  }

  .impressum__content {
    padding: 3rem 0rem 4rem 0rem;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    padding: 10% 0 0 2%;
  }

  .impressum__content {
    padding: 4rem 0rem 4rem 0rem;
  }
}