/* GENERAL */



/* HERO */

.hero {
  width: 100vw;
  height: 100vh;
}


/* INTRO */

.intro {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.intro__title {
  margin: 0 0 1em 0;
}

.intro__text+.intro__text {
  margin-bottom: 1em;
}


/* REALISATION */

.realistaion {
  width: 100vw;
  height: 100vh;
  background: lightgrey;
}


/* LEISTUNGEN */

.leistungen {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}


/* BRANCHEN */

.branchen {
  background: lightgrey;
}

.branchen-grid {
  padding: 0 0 2em 0;
}

.branchen-grid img {
  width: 100%;
}

/* GRID */

/* BLUR EFFECT */

.branche {
  position: relative;
  margin-bottom: 1em;
}

.branchen-grid__image {
  line-height: 0;
  overflow: hidden;
}

.branchen-grid__image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.branchen-grid__title {
  font-size: 2.5em;
  color: white;
  letter-spacing: 0.01rem;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(#94979b, 0.05);
  box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
  display: flex;
  align-items: center;
  justify-content: center;
}

.branche:hover .branchen-grid__title {
  opacity: 1;
}

.branche:hover .branchen-grid__image img {
  filter: blur(1.5px);
}

/* KONTAKT */

.kontakt {
  background: #ffffff;
}

.kontakt__content h2 {
  padding: 2em 0 1em 0;
}

.kontakt__content p {
  padding: 0 0 2em 0;
}

.kontakt__content a {
  text-decoration: none;
  margin: 0 0 4em 0;
}



@media (min-width: 600px) {}

@media (min-width: 900px) {

  /* GRID */

  .branchen {
    min-width: 100vw;
    height: 100vh;
  }

}

@media (min-width: 1200px) {

  /* GRID */

  .branchen-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5em;
  }

  .luft-und-raumfahrt {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
  }

  .medizintechnik {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
  }

  .rehatechnik {
    grid-column: 11 / span 2;
    grid-row: 2 / span 2;
  }

  .sensortechnik {
    grid-column: 11 / span 2;
    grid-row: 4 / span 2;
  }

  .verteidigungs-und-wehrtechnik {
    grid-column: 8 / span 2;
    grid-row: 5 / span 2;
  }

  .lebensmitteltechnik {
    grid-column: 4 / span 2;
    grid-row: 5 / span 2;
  }

  .motorsport {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }

  .branchen-grid__header {
    grid-column: 3 / span 8;
    grid-row: 3 / span 2;
    padding: 2em;
  }


  /* KONTAKT */

  .kontakt {
    width: 100vw;
    height: 50vh;
    background: #ffffff;
  }

  .kontakt__content h2 {
    padding: 5em 0 1.5em 0;
  }

  .kontakt__content p {
    padding: 0 0 2em 0;
  }
}

@media (min-width: 1800px) {}