/* GENERAL */



/* HERO */

.hero {
  background: url("../IMAGES/Heros/hero-schrauben.jpeg"), rgba(0, 102, 178, 1);
  /* height: 100vh; */
  height: 65vh;
  /* background-position: 70% 0%; */
  background-position: 70% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__title {
  color: #ffffff;
  font-size: 4rem;
  /* font-weight: lighter; */
  font-weight: 300;
  line-height: 4.5rem;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  /* padding: 10% 0 0 5%; */
  padding: 10% 0 0 10%;
}


/* INTRO */

.intro {
  width: 100vw;
  background: #ffffff;
}

.intro__content {
  display: flex;
  justify-content: space-between;
  padding: 6em 0 5.5em 0;
}

.intro__title {
  margin: 0 0 1em 0;
}

.intro__text {
  padding: 0em 0 0em 10%;
  /* width: 65%; */
  float: right;
  width: 950px;
  /* height: 150px; */
  shape-outside: url("../IMAGES/Wheat/wheat.png");
}

.intro__text--parapraph+.intro__text--parapraph {
  margin-bottom: 1em;
}

.intro-1 {
  margin: 0 0 1em 0;
}

.intro__image img {
  width: 50%;
}


/* REALISATION */

.realistaion {
  width: 100vw;
  background: #fafafa;
}

.realisation__content {
  display: flex;
  justify-content: space-around;
  padding: 6em 0 5.5em 0;
}

.realisation__content h2 {
  padding: 0 0 1em 0;
}

.realisation__content p {
  line-height: 250%;
}

.realisation__image img {
  width: 80%;
}

.realisation__text {
  padding: 0 0 1em 2em;
  width: 40%;
}


/* LEISTUNGEN */

.leistungen {
  width: 100vw;
  background: #ffffff;
}

.leistungen__content {
  padding: 6em 0 5.5em 0;
}

.leistungen__content h2 {
  padding: 0 0 1.5em 2em;
  line-height: 2.5rem;
}

.leistungen__text--header p {
  padding: 0 0 0 4em;
  width: 60%;
}

.leistungen__text--cards {
  justify-content: space-evenly;
  padding: 6em 0 2em 0;
}

.leistungen__text--cards h4 {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.leistungen__text--card {
  /* align-self: center; */
  text-align: center;
  padding: 1em 0.5em 1em 0.5em;
  /* background: #fafafa; */
}

.bold {
  font-weight: 500;
  padding: 1.5em 0 0em 0;
}

.light {
  font-size: 0.8rem;
  font-weight: 300;
}

/* POINTER */

.pointer {
  width: 100px;
  height: 300px;
  position: relative;
  background: #fafafa;
}

.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  /* border-left: 20px solid #fafafa;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; */
}

.pointer:before {
  content: "";
  position: absolute;
  right: -1500px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 150px solid #fafafa;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
}

/* CHEVRON MOBILE */

/* .chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 200px;
}

.chevron:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: red;
  transform: skew(0deg, 10deg);
}

.chevron:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: red;
  transform: skew(0deg, -10deg);
} */

/* CHEVRON */

.chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 200px;
}

.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: red;
  transform: skew(0deg, 10deg);
}

.chevron:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: red;
  transform: skew(0deg, -10deg);
}

/* PROGRESS NAV */


/* BRANCHEN */

.branchen {
  background: #fafafa;
}

.branchen__content {
  padding: 4em 0 2em 0;
}

.branchen__header {
  justify-content: space-between;
  align-content: center;
  padding: 0 0 2em 3.5em;
}

.zertifikat img {
  width: 80%;
  padding: 0 2em 0.5em 0;
}

.branchen-grid {
  padding: 0 0 2em 0;
}

.branchen-grid img {
  width: 100%;
}


/* GRID */

/* BLUR EFFECT */

.branche {
  position: relative;
}

.branchen-grid__image {
  line-height: 0;
  overflow: hidden;
}

.branchen-grid__image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.branchen-grid__title {
  font-size: 2.5em;
  color: white;
  text-shadow: 2px 3px 5px rgb(19, 19, 19);
  letter-spacing: 0.01rem;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(#94979b, 0.05);
  box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
  display: flex;
  align-items: center;
  justify-content: center;
}

.branche:hover .branchen-grid__title {
  opacity: 1;
}

.branche:hover .branchen-grid__image img {
  filter: blur(1.5px);
}


@media (min-width: 600px) {}

@media (min-width: 900px) {

  /* GRID */

  .branchen {
    min-width: 100vw;
  }

}

@media (min-width: 1200px) {

  /* GRID */

  .branchen-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin: 0 3em 0 3em;
  }

  /* .luft-und-raumfahrt {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    justify-self: center;
    align-self: center;
  }

  .medizintechnik {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    justify-self: center;
    align-self: center;
  }

  .rehatechnik {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    justify-self: center;
    align-self: center;
  }

  .sensortechnik {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
    justify-self: center;
    align-self: center;
  }

  .verteidigungs-und-wehrtechnik {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    justify-self: center;
    align-self: center;
  }

  .lebensmitteltechnik {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    justify-self: center;
    align-self: center;
  }

  .motorsport {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    justify-self: center;
    align-self: center;
  } */
}

@media (min-width: 1800px) {}