/* GENERAL */



/* HERO */

.hero {
  background-image: url("../IMAGES/späne.jpeg");
  height: 600px;
  background-position: 0 70%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 0.5rem 0;

}

.hero h1 {
  color: #ffffff;
  line-height: 4.5rem;
  padding: 1em 0 0 1em;
  font-size: 4rem;
  text-shadow: 2px 3px rgb(19, 19, 19);
  font-weight: lighter;
}


/* INTRO */

.intro {
  width: 100vw;
  height: 700px;
  background: #ffffff;
}

.intro__content {
  display: flex;
  justify-content: space-between;
  padding: 4em 0 4em 0;
}

.intro-1 {
  margin: 0 0 1em 0;
}

.intro__title {
  margin: 0 0 1em 0;
}

.intro__text {
  padding: 1em 0 1em 10%;
  width: 45%;
}

.intro__text--parapraph+.intro__text--parapraph {
  margin-bottom: 1em;
}


/* REALISATION */

.realistaion {
  width: 100vw;
  height: 600px;
  background: #fafafa;
}

.realisation__content {
  display: flex;
  justify-content: space-between;
  padding: 6em 0 6em 0;
}

.realisation__content h2 {
  padding: 0 0 1.5em 0;
}

.realisation__content p {
  line-height: 250%;
}

.realisation__image {
  background: lightseagreen;
  /* width: 50%; */
}

.realisation__text {
  padding: 0 0 1em 2em;
  width: 50%;
}


/* LEISTUNGEN */

.leistungen {
  width: 100vw;
  height: 800px;
  background: #ffffff;
}

.leistungen__content h2 {
  padding: 0 0 1.5em 0;
  line-height: 2.5rem;
}

.leistungen__text p {
  margin-bottom: 1em;
}

.leistungen__content {
  /* display: flex;
  justify-content: space-between; */
  padding: 6em 0 6em 0;
}

.leistungen__text {
  padding: 1em 0 1em 5%;
  width: 50%;
}


/* BRANCHEN */

.branchen {
  background: #fafafa;
}

.branchen-grid {
  padding: 0 0 2em 0;
}

.branchen-grid img {
  width: 100%;
}

/* GRID */

/* BLUR EFFECT */

.branche {
  position: relative;
  margin-bottom: 1em;
}

.branchen-grid__image {
  line-height: 0;
  overflow: hidden;
}

.branchen-grid__image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.branchen-grid__title {
  font-size: 2.5em;
  color: white;
  letter-spacing: 0.01rem;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(#94979b, 0.05);
  box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
  display: flex;
  align-items: center;
  justify-content: center;
}

.branche:hover .branchen-grid__title {
  opacity: 1;
}

.branche:hover .branchen-grid__image img {
  filter: blur(1.5px);
}

/* KONTAKT */

.kontakt__content {
  text-align: center;
  padding: 4em 0 4em 0;
}

.kontakt__content h3 {
  padding: 2em 0 1em 0;
}

.kontakt__content p {
  padding: 0 0 2em 0;
}

.kontakt__content a {
  text-decoration: none;
  margin: 0 0 4em 0;
}



@media (min-width: 600px) {}

@media (min-width: 900px) {

  /* GRID */

  .branchen {
    min-width: 100vw;
    /* height: 100vh; */
  }

}

@media (min-width: 1200px) {

  /* GRID */

  .branchen-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5em;
  }

  .luft-und-raumfahrt {
    grid-column: 5 / 7;
    grid-row: 3 / 5;
  }

  .medizintechnik {
    grid-column: 7 / 9;
    grid-row: 3 / 5;
  }

  .rehatechnik {
    grid-column: 9 / 11;
    grid-row: 5 / 7;
  }

  .sensortechnik {
    grid-column: 11 / 13;
    grid-row: 5 / 7;
  }

  .verteidigungs-und-wehrtechnik {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  .lebensmitteltechnik {
    grid-column: 5 / 7;
    grid-row: 5 / 7;
  }

  .motorsport {
    grid-column: 1 / 3;
    grid-row: 11 / 13;
  }

  .branchen-grid__header {
    grid-column: 1 / 11;
    grid-row: 1 / 3;
    padding: 2em;
  }

  .grey-1 {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    background: lightgrey;
  }

  .grey-2 {
    grid-column: 9 / 13;
    grid-row: 3 / 5;
    background: lightgrey;
  }

  .grey-3 {
    grid-column: 3 / 5;
    grid-row: 5 / 7;
    background: lightgrey;
  }

  .grey-4 {
    grid-column: 7 / 9;
    grid-row: 5 / 7;
    background: lightgrey;
  }


  /* KONTAKT */

  .kontakt {
    width: 100vw;
    height: 50vh;
    background: #ffffff;
  }

  .kontakt__content h2 {
    padding: 5em 0 1.5em 0;
  }

  .kontakt__content p {
    padding: 0 0 2em 0;
  }
}

@media (min-width: 1800px) {}