/* HERO */

.hero {
  background: linear-gradient(to left, rgba(0,0,0,0.3) 70%,
  rgba(0,0,0,1)), url("../IMAGES/Heros/hero-karriere.jpg");
  height: 65vh;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1;
  font-weight: lighter;
  text-shadow: 3px 3px 3px rgb(0, 0, 0), 6px 6px 6px rgb(0, 0, 0);
  padding: 25% 0.5rem 0 0.5rem;
}

/* INTRO */

.karriere-intro {
  padding: 6rem 2rem 6rem 2rem;
}

.karriere-intro__content {
  width: 100%;
}

.karriere-intro__content h2 {
  padding: 0rem 0 2rem 0rem;
}

.karriere-intro__content p {
  font-weight: 300;
  margin: 0;
  padding-bottom: 0.75rem;
}


/* BEWERBEN */

.bewerben {
  height: 60vh;
  background-position: 80% 42%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bewerben__content {
  padding: 6rem 2rem 0rem 2rem;
  align-self: baseline;
}

.bewerben__content h3 {
  padding: 0 0 1.5rem 0;
}

.bewerben__content p {
  color: rgb(58, 58, 58);
  width: 85%;
  padding-bottom: 0.75rem;
}

.freuen {
  padding: 0.75rem 0 0rem 0;
}

.bewerben__content a {
  padding: 2.5rem 0 0 0;
  text-decoration: none;
  color: #0066b2;
}

/* STELLENANGEBOTE */

.stellenangebote {
  background: linear-gradient(rgba(1, 71, 121, 0.99),
      rgba(0, 102, 178, 0.99),
      rgba(0, 102, 178, 0.15));
}

.stellenangebote__content {
  padding: 6rem 2rem 6rem 2rem;
}

.stellenangebote__title {
  padding: 1rem 0 4rem 0;
}

.stellenangebote__content h2 {
  color: #f0f0f0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.4);
  padding: 0;
  letter-spacing: 0.05rem;
  word-spacing: 0.1875rem;
}

.stellenangebote__content h3 {
  color: black;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  font-weight: 500;
  text-shadow: 0.1px 0.1px 0.5px rgba(147, 204, 247, 0.6),
    0.2px 0.2px 0.5px rgba(147, 204, 247, 0.6);
  letter-spacing: 0.05rem;
  padding: 4.5rem 0 1rem 0;
}

.no-job h4 {
  font-weight: 500;
  padding: 0.25rem 0 0.1rem 0;
  border-bottom: 0.25px solid #c7c7c7;
}

.job,
.no-job,
.job:link,
.job:visited {
  text-decoration: none;
  padding: 0;
}

.job h4:hover,
.job h4:active {
  color: #0066b2;
}

.no-job h4 {
  color: #e3e2e2;
  font-weight: 200;
}

.berufseinsteiger {
  margin-top: 0.5rem;
}

.no-job-ausbildung h4 {
  color: #f4f2f2;
  border-bottom: 0.25px solid #edecec;
}


/* ACCORDION */

.wrap-collabsible {
  padding: 0.75rem 0 0.75rem 0;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle-1,
.lbl-toggle-2,
.lbl-toggle-3,
.lbl-toggle-4,
.lbl-toggle-5,
.lbl-toggle-6 {
  display: block;
  font-size: clamp(0.9rem, 1.3vw, 1rem);
  text-transform: uppercase;
  text-align: left;
  padding: 1rem;
  color: #ffffff;
  background: #014c82;
  border: 1px solid rgba(2, 95, 167, 0.99);
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.6s ease-out;
}

.lbl-toggle:hover,
.lbl-toggle:active {
  background: #00355c;
}

.lbl-toggle-1::before,
.lbl-toggle-2::before,
.lbl-toggle-3::before,
.lbl-toggle-4::before,
.lbl-toggle-5::before,
.lbl-toggle-6::before {
  content: " ";
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);

  transition: transform 0.6s ease-out;
}

.collapsible-content-1 .content-inner-1,
.collapsible-content-2 .content-inner-2,
.collapsible-content-3 .content-inner-3,
.collapsible-content-4 .content-inner-4,
.collapsible-content-5 .content-inner-5,
.collapsible-content-6 .content-inner-6 {
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.5rem 1rem;
}

.content-inner-1 p,
.content-inner-2 p,
.content-inner-3 p,
.content-inner-4 p,
.content-inner-5 p,
.content-inner-6 p   {
  padding: 2.5rem 0rem 1rem 1rem;
  font-weight: 600;
}

.content-inner-1 ul,
.content-inner-2 ul,
.content-inner-3 ul,
.content-inner-4 ul,
.content-inner-5 ul,
.content-inner-6 ul {
  padding: 0.5rem 0rem 2.5rem 2rem;
}

.content-inner-1 li,
.content-inner-2 li,
.content-inner-3 li,
.content-inner-4 li,
.content-inner-5 li,
.content-inner-6 li {
  font-size: clamp(0.8rem, 1.2vw, 0.9rem);
  padding: 0.5rem 0rem 0.25rem 0rem;
}

.collapsible-content-1,
.collapsible-content-2,
.collapsible-content-3,
.collapsible-content-4,
.collapsible-content-5,
.collapsible-content-6 {
  max-height: 0px;
  overflow: hidden;

  transition: max-height 0.6s ease-in-out;
}

.toggle-1:checked+.lbl-toggle-1+.collapsible-content-1 {
  max-height: 100vh;
}

.toggle-2:checked+.lbl-toggle-2+.collapsible-content-2 {
  max-height: 100vh;
}

.toggle-3:checked+.lbl-toggle-3+.collapsible-content-3 {
  max-height: 100vh;
}

.toggle-4:checked+.lbl-toggle-4+.collapsible-content-4 {
  max-height: 100vh;
}

.toggle-5:checked+.lbl-toggle-5+.collapsible-content-5 {
  max-height: 100vh;
}

.toggle-6:checked+.lbl-toggle-6+.collapsible-content-6 {
  max-height: 100vh;
}

.toggle-1:checked+.lbl-toggle-1::before,
.toggle-2:checked+.lbl-toggle-2::before,
.toggle-3:checked+.lbl-toggle-3::before,
.toggle-4:checked+.lbl-toggle-4::before,
.toggle-5:checked+.lbl-toggle-5::before,
.toggle-6:checked+.lbl-toggle-6::before  {
  transform: rotate(90deg) translateX(-3px);
}

.toggle-1:checked+.lbl-toggle-1,
.toggle-2:checked+.lbl-toggle-2,
.toggle-3:checked+.lbl-toggle-3,
.toggle-4:checked+.lbl-toggle-4,
.toggle-5:checked+.lbl-toggle-5,
.toggle-6:checked+.lbl-toggle-6 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.last {
  margin-top: -2.5rem;
}


/* MEDIAQUERIES */

@media (min-width: 600px) {
  .hero {
    height: 65vh;
    background-position: 60% 35%;
  }

  .hero__title {
    padding: 30% 0.5rem 0 0.5rem;
  }

  /* BEWERBEN */

  .bewerben__content {
    padding: 8rem 3.5% 0rem 3.5%;
  }
}

@media (min-width: 900px) {
  /* HERO */

  .hero {
    height: 65vh;
    background-position: 30% 35%;
  }

  .hero__title {
    padding: 28% 3.5rem 0 3.5%;
  }

  /* INTRO */

  .karriere-intro {
    padding: 12rem 3.5% 0rem 3.5%;
  }

  /* BEWERBEN */

  .bewerben__content {
    padding: 0rem 3.5% 0rem 3.5%;
    align-self: center;
  }
}

@media (min-width: 1200px) {
  /* HERO */

  .hero {
    height: 55vh;
    background-position: 0 10%;
  }

  .hero__title {
    padding: 20% 0 0 2%;
  }

  /* INTRO */

  .karriere-intro {
    padding: 3rem 0% 3rem 0%;
    width: 65%;
    margin: 0 auto;
  }

  .karriere-intro__content {
    text-align: center;
  }

  /* STELLENANGEBOTE */

  .stellenangebote__content {
    padding: 5rem 10% 5rem 9.8%;
  }

  /* BEWERBEN */

  .bewerben {
    padding: 6rem 0rem 6rem 0rem;
    width: 65%;
    margin: 0 auto;
  }

  .bewerben__content {
    text-align: center;
  }
}