/* HERO */

.hero {
  background: url("../IMAGES/Heros/hero-kontakt.png");
  height: 65vh;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__title {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: lighter;
  line-height: 4rem;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  padding: 10% 0 0 5%;
}


/* CARDS */

.ansprechpartner__cards > * + *  {
  margin: 2rem 0 0 0;
}

.ansprechpartner__card {
  width: 80%;
  background: #ffffff;
  border-radius: 0 0 0.25em 0.25em;
  box-shadow: 0.5px 0.5px 10px 0px rgb(209, 208, 208);
}

.ansprechpartner__card img {
  width: 100%;
  box-shadow: 0.5px 0.5px 10px 0px rgb(209, 208, 208);
}

.ansprechpartner__card--text {
  min-width: 36ch;
}

.name {
  color: rgb(58, 58, 58);
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  font-weight: 500;
  padding: 1rem 0.75rem 0.25rem 0.75rem;
}

.title {
  color: #94979b;
  font-size: clamp(0.6rem, 1vw, 0.8rem);
  font-weight: 300;
  padding: 0rem 0.75rem 0.5rem 0.75rem;
}

.number {
  padding: 1rem 0.75rem 0rem 0.75rem;
}

.number,
.email {
  color: #94979b;
  font-size: clamp(0.7rem, 1.1vw, 0.9rem);
  font-weight: 300;
}

.email {
  text-decoration: none;
  padding: 0rem 0.75rem 1rem 0.75rem;
}


/* GRID */

.kontakt {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.kontakt__name {
  grid-column: 1 / -1;
}

.kontakt__info {
  grid-column: 1 / -1;
}

.ansprechpartner-intro {
  grid-column: 1 / -1;
}

.card-1 {
  grid-column: 1 / -1;
  justify-self: center;
}

.card-2 {
  grid-column: 1 / -1;
  justify-self: center;
}

.card-3 {
  grid-column: 1 / -1;
  justify-self: center;
}


/* MEDIAQUERIES */


@media (min-width: 600px) {

  .ansprechpartner__card {
    width: 100%;
  }

  /* GRID */

  .kontakt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .kontakt__name {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .kontakt__info {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .ansprechpartner-intro {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .card-1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .card-2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .card-3 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }
}

@media (min-width: 900px) {
  /* GRID */

  .kontakt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .kontakt__name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .kontakt__info {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .ansprechpartner-intro {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }

  .card-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card-2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .card-3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media (min-width: 1200px) {
  /* GRID */

  .kontakt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .kontakt__name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .kontakt__info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .ansprechpartner-intro {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
  }

  .card-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card-2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .card-3 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}

@media (min-width: 1800px) {}
