/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500');
/* font-family: 'Roboto', sans-serif; */
/* font-family: "Open Sans", sans-serif; */

:root {
  --ff-headline: 'Roboto', sans-serif;
  --ff-body: 'Roboto', sans-serif;
}

/* COLORS */

:root {
  --clr-headline: var(--clr-neutral-800);
  --clr-body: var(--clr-neutral-500);

  --clr-nav: #94979b;
  --clr-nav-hover: #0066b2;
  --clr-nav-active: #0066b2;

  --clr-footer: var(--clr-green-900);
  --clr-footer-link: var(--clr-neutral-0);
  --clr-footer-link-hover: var(--clr-yellow-500);
  --clr-footer-link-active: var(--clr-yellow-500);
  
  --clr-email: var(--clr-yellow-500);
  --clr-email-hover: var(--clr-yellow-900);

  --clr-link: var(--clr-blue-500);
  --clr-link-hover: var(--clr-blue-800);
  --clr-link-focus: var(--clr-blue-800);
  --clr-link-active: var(--clr-blue-800);
  --clr-link-visited: var(--clr-purple-800);

  --clr-br-light: #fafafa;
  --clr-br-dark: darkblue;
}