/* HERO */

.hero {
  background: linear-gradient(to left, rgba(0,0,0,0.3) 10%,
  rgba(0,0,0,0.6)), url("../IMAGES/Heros/hero_leistungen.jpg");
  height: 65vh;
  background-position: 80% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1;
  font-weight: lighter;
  text-shadow: 3px 3px 3px rgb(0, 0, 0), 6px 6px 6px rgb(0, 0, 0);
  padding: 1.5% 0 0 2%;
}


/* INTRO */

.details-leistungen {
  padding: 1rem 0 0rem 0;
  margin: 0;
}

.details-leistungen h2 {
  padding: 0 0 1rem 0;
  word-wrap: break-word;
}

.details-leistungen h3 {
  padding: 0 0 1rem 0;
}

.details-leistungen__text {
  padding: 0rem 0 1rem 0;
}

.details-leistungen__intro--text {
  width: 100%;
  padding: 4rem 0 5rem 0;
  margin: 0 auto;
}

.details-leistungen__intro--text h2 {
  padding-bottom: 1rem;
}

.details-leistungen__intro--text p {
  width: 100%;
}

.zertifikat {
  display: inline-block;
  padding: 3rem 0 0 0;
  margin: 0 auto;
}

.zertifikat:hover {
  transform: scale(0.98);
  transition: scale 1.5s ease-in-out;
}


/* LEISTUNGEN */

.details-leistungen__section {
  min-height: 50vh;
  padding: 0 5%;
}

.details-leistungen__section--content {
  width: 100%;
}

.details-leistungen__section--content h3 {
  padding: 0 0 1rem 0;
}

.details-leistungen__section--content p {
  color: rgb(58, 58, 58);
  font-weight: 500;
}


/* ENTWICKLUNG */

.details-leistungen__entwicklung {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left, rgba(255,255,255,0) 5%,
  rgba(255,255,255,0.8)), url("../IMAGES/Leistungen/entwicklung.jpg");
  background-position: 80% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.entwicklung__content {
  padding: 4rem 0;
}

.entwicklung__content h3 {
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.entwicklung__content p {
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}


/* FERTIGUNG */

.slider {
  display: flex;
  scroll-snap-type: x mandatory;  
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

section {
  border-right: 0px solid white;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  overflow-y: hidden;
}

.details-leistungen__section--fertigung {
  background: linear-gradient(to right, rgba(0,0,0,0.4) 5%,
  rgba(0,0,0,0.7)), url("../IMAGES/Leistungen/fertigung.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.fertigung {
  display: flex;
  flex-direction: row;
}

.fertigung__content h3,
.fertigung__content p {
  color: #ffffff;
}

.fertigung__content h3 {
  padding: 2rem 0 2rem 0;
}

.fertigung__content p {
  padding: 2rem 0 0 0;
}

.fertigung__headlines {
  display: inline;
  overflow-wrap: break-word
}

.fertigung__headlines a {
  text-decoration: none;
  color: #ffffff;
}

.fertigung__headlines a:hover {
  color: #014779;
  text-shadow: 0.25px 0.25px 0.5px rgb(255, 255, 255);
  text-shadow: none;
}

.fertigung-arrow {
  justify-content: center;
  align-items: center;
  padding-top: 100%;
}


/* FERTIGUNG DETAILS */

.details-leistungen__section--details {
  display: flex;
  align-items: center;
  /* padding: 0 5rem; */
}

.details-leistungen {
  padding: 0 2rem;
}

.img__fertigung--details img {
  display: none;
}

.arrow-left,
.arrow-right {
  /* display: contents; */
  width: 25%;
  height: auto;
  align-content: center;
  justify-content: center;
}

.drehen h3 {
  padding: 2rem 0 2rem 0;
}

.text-1 {
  padding: 2rem 0 1rem 0;
}

.fraesen h3 {
  padding: 2rem 0 2rem 0;
}

.text-2 {
  padding: 0 0 6rem 0;
}

.schleifen h3 {
  padding: 2rem 0 2rem 0;
}

.drahterodieren h3 {
  padding: 2rem 0 2rem 0;
}


/* OBERFLÄCHENVEREDELUNG */

.details-leistungen__oberflaechenveredelung {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left, rgba(255,255,255,0) 10%,
  rgba(255,255,255,0.8)), url("../IMAGES/Leistungen/oberflaechenveredelung.jpg");
  background-position: 80% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.oberflaechenveredelung__content {
  padding: 4rem 0;
}

.oberflaechenveredelung__content h3 {
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.oberflaechenveredelung__content p {
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}


/* MONTAGE */

.details-leistungen__montage {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left, rgba(0,0,0,0.2) 10%,
  rgba(0,0,0,0.9)), url("../IMAGES/Leistungen/montage.jpg");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.montage__content {
  padding: 4rem 0;
}

.montage__content h3 {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}

.montage__content p {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}


/* QUALITÄTSSICHERUNG */

.details-leistungen__qualitaetssicherung {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to left, rgba(0,0,0,0.1) 20%,
  rgba(0,0,0,0.9)), url("../IMAGES/Leistungen/qualitaetssicherung.jpg");
  background-position: 85% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.qualitaetssicherung__content {
  padding: 4rem 0;
}

.qualitaetssicherung__content h3 {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}

.qualitaetssicherung__content p {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}


/* LAGERHALTUNG */

.details-leistungen__lagerhaltung {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgba(0,0,0,0.7) 15%,
  rgba(0,0,0,0)), url("../IMAGES/Leistungen/lagerhaltung.jpg");
  background-position: 60% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.lagerhaltung__content {
  padding: 4rem 0;
}

.lagerhaltung__content h3 {
  color: rgb(255, 255, 255);
  /* text-shadow: 1px 1px 3px rgb(255, 255, 255); */
}

.lagerhaltung__content p {
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-shadow: 0.25px 0.25px 75px rgb(20, 20, 20), 0.35px 0.35px 1px rgb(20, 20, 20);
}


/* QUALITÄTSMANAGEMENT */

.details-leistungen__qualitaetsmanagement {
  width: 100%;
  height: auto;
  background: linear-gradient(to left, rgba(0,0,0,0.2) 0%,
   rgba(0,0,0,0.8)), url("../IMAGES/Leistungen/qualitaetsmanagement.jpg");
  /* background: url("../IMAGES/Leistungen/QM-straight-wide.png"); */
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.qualitaetsmanagement__content {
  padding: 4rem 0;
}

.qualitaetsmanagement__content h3 {
  font-weight: 500;
  /* color: rgb(58, 58, 58); */
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0); */
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}

.qualitaetsmanagement__content p {
  font-weight: 500;
  /* color: rgb(58, 58, 58); */
  /* text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0); */
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}


/* KONTAKT */

.kontakt__content {
  text-align: left;
  padding: 4rem 0 4rem 0;
}

.kontakt__content h3 {
  padding: 2rem 0 1rem 0;
}

.kontakt__content p {
  padding: 0 0 2rem 0;
}

.kontakt__content a {
  text-decoration: none;
  margin: 0 0 4rem 0;
}


/* MEDIAQUERIES */

@media (min-width: 600px) {

  .hero {
    height: 65vh;
    background-position: 80% 5%;
  }

  .hero__title {
    padding: 10% 0 0 5%;
  }

  .details-leistungen {
    padding: 1.5rem 0 1.5rem 0;
  }

  /* LEISTUNGEN */

  .details-leistungen__section--content {
    width: 100%;
  }

  /* FERTIGUNG */

  .fertigung__content h3 {
    padding: 2rem 0 2rem 0;
  }

  .fertigung__content p {
    padding: 2rem 0 0 0;
  }

  .fertigung-arrow {
    justify-content: center;
    align-items: center;
    padding-top: 50%;
  }
}


@media (min-width: 900px) {

  .hero {
    height: 65vh;
    background-position: 60% 5%;
  }

  .hero__title {
    padding: 35% 5% 0 5%;
  }

  .details-leistungen {
    padding: 4rem 0 3rem 0;
  }

  .details-leistungen__intro--text {
    width: 70%;
    text-align: center;
    padding: 2rem 0 3rem 0;
    margin: 0 auto;
  }

  .details-leistungen__section--content {
    width: 80%;
    padding: 0 1rem 0 1rem;
  }


  /* SCROLL */

  .full-scroll {
    position: relative;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  main {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  main > * {
    scroll-snap-align: start;
  }


  /* FERTIGUNG */

  .fertigung__content h3 {
    padding: 2rem 0 2rem 0;
  }

  .fertigung__content p {
    padding: 2rem 0 0 0;
  }


  /* FERTIGUNG DETAILS */

  .details-leistungen {
    padding: 0 0 0 2rem;
  }

  .img__fertigung--details img {
    display: none;
    /* display: block;
    width: 50%;
    padding: 0 2rem 0 0; */
  }

  .arrow-left,
  .arrow-right {
    width: 80%;
    height: auto;
    align-content: center;
    justify-content: center;
  }


  /* KONTAKT */

  .kontakt__content {
    text-align: center;
    padding: 5rem 0 5rem 0;
  }
    
  .kontakt__content h3 {
    padding: 2rem 0 1rem 0;
  }
    
  .kontakt__content p {
    width: 80%;
    margin: 0 auto;
  }
    
  .kontakt__content a {
    margin: 0 0 4rem 0;
  }
}


@media (min-width: 1200px) {

  .hero {
    height: 55vh;
    background-position: 68% 70%;
  }

  .hero__title {
    width: 60%;
    padding: 15% 5% 0 2%;
  }


  /* INTRO */

  .details-leistungen__intro {
    padding: 8rem 0 8rem 0;
  }

  .detailsleistungen__intro--text {
    padding: 4rem 0 5rem 0;
    margin: 0 auto;
  }

  .detailsleistungen__intro--text h2 {
    width: 50%;
    margin: 0 auto;
  }

  .details-leistungen__text {
    width: 100%;
  }


  /* LEISTUNGEN */

  .details-leistungen {
    /* padding: 1rem 0 0rem 0; */
    padding: 1rem 0% 0rem 10%;
    margin: 0;
  }

  .details-leistungen__section {
    display: flex;
    min-height: 100vh;
  }

  .details-leistungen__section--content {
    width: 65%;
    padding: 0 5rem;
  }

  /* SCROLL */

  .full-scroll {
    position: relative;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }


  /* ENTWICKLUNG */

  .details-leistungen__entwicklung {
    background-position: 40% 20%;
  }

  .entwicklung__content {
    /* padding-top: 16rem; */
    padding: 16rem 0% 0rem 2%;
  }


 /* FERTIGUNG */

  /* SLIDER */

  .slider {
    display: flex;
    scroll-snap-type: x mandatory;  
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
  }

  section {
    border-right: 0px solid white;
    padding: 1rem;
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    overflow-y: hidden;
  }

  .details-leistungen__section--fertigung {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }

  .fertigung {
    display: flex;
    flex-direction: row;
  }

  .fertigung__content {
    width: 70%;
    padding: 16rem 5rem 0 6.5%;
  }
  
  .fertigung__content h3,
  .fertigung__content p {
    color: #ffffff;
  }

  .fertigung__content h3 {
    padding: 0rem 0 2rem 0;
  }

  .fertigung__content p {
    padding: 2rem 0 0 0;
  }

  .fertigung__headlines {
    display: inline;
    overflow-wrap: break-word
  }

  .fertigung__headlines a {
    text-decoration: none;
    color: #ffffff;
  }

  .fertigung__headlines a:hover {
    color: #014779;
    text-shadow: 0.25px 0.25px 0.5px rgb(255, 255, 255);
    text-shadow: none;
  }

  .fertigung-arrow {
    padding-top:25%;
    padding-right: 6rem;
    margin-left:auto;
  }
  

  /* DETAILS */
  
  .details-leistungen__section--details {
    display: flex;
    align-items: center;
    padding: 0 5rem;
  }
  
  .details-leistungen {
    width: 60%;
    padding: 0 0 0 4rem;
  }
  
  .details-leistungen h3 {
    padding-bottom: 1rem;
  }
  
  .text-1 {
    padding-top: 1rem;
  }
  
  .details-leistungen p {
    padding-bottom: 1rem;
  }

  .img__fertigung--details img {
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    padding: 0 4rem 0 0;
  }

  .drehen h3,
  .fraesen h3,
  .schleifen h3,
  .drahterodieren h3,
  .laserbeschriften h3 {
    padding-top: 0;
  }

  .laserbeschriften {
    width: 80%;
  }

  .laserbeschriften h3 {
    padding-bottom: 2rem;
  }

  .arrow-left,
  .arrow-right {
    display: contents;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
  }


  /* OBERFLÄCHENVEREDELUNG */

  .details-leistungen__oberflaechenveredelung {
    background-position: 0% 0%;
  }

  .oberflaechenveredelung__content {
    /* padding-top: 10rem; */
    padding: 10rem 0% 0rem 2%;
  }


  /* MONATGE */

  .details-leistungen__montage {
    background-position: 0% 50%;
  }

  .montage__content {
    /* padding-top: 14rem; */
    padding: 14rem 0% 0rem 2%;
  }

  .montage__content p {
    color: #ffffff;
  }


  /* QUALITÄTSSICHERUNG */

  .details-leistungen__qualiaetssicherung {
    background-position: 0% 80%;
  }

  .qualitaetssicherung__content {
    padding-top: 16rem;
    padding: 16rem 0% 0rem 2%;
  }

  .qualitaetssicherung__content p {
    color: #ffffff;
  }


  /* LAGERHALTUNG */

  .details-leistungen__lagerhaltung {
    background-position: 10% 60%;
  }

  .lagerhaltung__content {
    /* padding-top: 16rem; */
    padding: 16rem 0% 0rem 2%;
  }


  /* QUALITÄTSMANAGEMENT */

  .details-leistungen__qualitaetsmanagement {
    background-position: 70% 50%;
  }

  .qualitaetsmanagement__content {
    /* padding-top: 5rem; */
    padding: 2.5rem 0% 0rem 2%;
    width: 70%;
  }

  .qualitaetsmanagement__content h3 {
    padding-top: 4rem;
  }


  /* KONTAKT */

  .kontakt__content {
    text-align: center;
    padding: 10rem 0 5rem 0;
    min-height: 60vh;
  }
  
  .kontakt__content h3 {
    padding: 2rem 0 1rem 0;
  }
  
  .kontakt__content p {
    padding: 0 0 2rem 0;
    width: 100%;
  }
  
  .kontakt__content a {
    margin: 0 0 4rem 0;
  }
}