/* HERO */

.hero {
  background: url("../IMAGES/Mitarbeiter/mitarbeiter-1.jpeg"), linear-gradient(rgba(0, 102, 178, 0.99),
      rgba(0, 102, 178, 0.15));
  /* height: 65vh;
  background-position: 0 5%; */
  height: 100vh;
  background-position: 0 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: 4rem;
  font-weight: lighter;
  line-height: 4.5rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0), 6px 6px 6px rgb(0, 0, 0);
  /* padding: 15% 0 0 5%; */
  padding: 25% 0 0 5%;
}


/* INTRO */

.details-leistungen {
  padding: 4em 0 3em 0;
  margin: 0;
}

.details-leistungen h2 {
  padding: 0 0 1em 0;
}

.details-leistungen h3 {
  padding: 0 0 0 0;
}

.details-leistungen__text {
  padding: 1.5em 0 0 0;
}

.details-leistungen__section--content {
  width: 50%;
  padding: 0 1em 0 1em;
}

.details-leistungen__section--img {
  width: 50%;
  padding: 0 1em 0 1em;
}

.detailsleistungen__intro--text {
  width: 80%;
  text-align: center;
  padding: 4em 0 5em 0;
  margin: 0 auto;
}


/* LEISTUNGEN */

/* ENTWICKLUNG */

.details-leistungen__entwicklung {
  background-image: url(../IMAGES/Leistungen/entwicklung2.jpg);
  background-position: 40% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  /* position: relative; */
  clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

/* .details-leistungen__entwicklung:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(176,106,179)' height='50' width='100'%3E%3Cpolygon points='0, 10 100, 10 50, 50' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  position: absolute;
  width: 100%;
  bottom: -3.9vw;
  z-index: 1;
} */

.entwicklung {
  padding: 6em 0 5em 0;
  /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
}

.entwicklung h3 {
  color: #ffffff;
  /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
}

.entwicklung p {
  /* color: rgb(58, 58, 58); */
  color: #ffffff;
  /* text-shadow: 1px 1px 3px rgb(255, 255, 255); */
}


/* LAGERHALTUNG */

.details-leistungen__lagerhaltung {
  background: url(../IMAGES/Leistungen/lagerhaltung-2.jpg), rgba(0, 0, 0, 1);
  background-position: 10% 62%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  /* position: relative; */
  clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

/* .details-leistungen__lagerhaltung:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(176, 106, 179)' height='50' width='100'%3E%3Cpolygon points='0, 10 100, 10 50, 50' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  position: absolute;
  width: 100%;
  bottom: -3.9vw;
  z-index: 1;
} */

.lagerhaltung h3 {
  padding: 6em 0 0 0;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

.lagerhaltung p {
  color: rgb(58, 58, 58);
  /* text-shadow: 1px 1px 3px rgb(255, 255, 255), 1px 1px 4px rgb(255, 255, 255); */
  text-shadow: 0.25px 0.25px 1px rgb(255, 255, 255), 0.5px 0.5px 1px rgb(255, 255, 255);
}


/* FERTIGUNG */

.details-leistungen__fertigung {
  /* background: #ffffff; */
  background: rgb(242, 242, 242);
  height: 400px;
  clip-path: polygon(50% 25%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

.details-leistungen__text--bold {
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0em 0 0.5em 0;
}

.details-leistungen__text--light {
  font-size: 0.9rem;
  font-weight: lighter;
  padding: 0.5em 0 0.5em 0;
}

.details-leistungen__fertigung--card {
  width: 19%;
}

.fertigung {
  width: 55%;
  text-align: center;
  padding: 5em 0 1em 0;
  margin: 0 auto;
}


/* ACCORDION */

.section-accordion {
  /* background: #ffffff; */
  background: rgb(242, 242, 242);
  padding: 0 0 8em 0;
  /* position: relative; */
  clip-path: polygon(50% 0, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

/* .section-accordion:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(255,255,255)' height='50' width='100'%3E%3Cpolygon points='0, 10 100, 10 50, 50' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  position: absolute;
  width: 100%;
  bottom: -3.9vw;
  z-index: 1;
} */

.accordion {
  width: 100%;
  max-width: 1400px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  margin: 0 auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 20%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 600ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  height: 500px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #ffffff;
  text-shadow: 0.25px 0.25px 0.5px rgb(0, 0, 0);
  text-decoration: none;
  transition: all 600ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.accordion ul li div a h2 {
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  /* margin-bottom: 2px; */
  top: 5px;
}

.accordion ul li div a p {
  top: 5px;
  font-size: 13.5px;
}

.accordion ul li:nth-child(1) {
  /* background: url("http://michael-ferry.com/assets/accordion1.jpg"); */
  background: url(../IMAGES/Leistungen/drehen.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.accordion ul li:nth-child(2) {
  /* background: url("http://michael-ferry.com/assets/accordion2.jpg"); */
  background: url(../IMAGES/Leistungen/fräsen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.accordion ul li:nth-child(3) {
  /* background: url("http://michael-ferry.com/assets/accordion3.jpg"); */
  background: url(../IMAGES/Leistungen/oberflächenveredelung-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.accordion ul li:nth-child(4) {
  /* background: url("http://michael-ferry.com/assets/accordion4.jpg"); */
  background: url(../IMAGES/Leistungen/bohren.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.accordion ul li:nth-child(5) {
  /* background: url("http://michael-ferry.com/assets/accordion5.jpg"); */
  background: url(../IMAGES/Leistungen/drahterodieren.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

/* .accordion ul li:nth-child(1):active:not(.focus-within),
.accordion ul li:nth-child(2):active:not(.focus-within),
.accordion ul li:nth-child(3):active:not(.focus-within),
.accordion ul li:nth-child(4):active:not(.focus-within),
.accordion ul li:nth-child(5):active:not(.focus-within) {
  filter: blur(1.5px);
} */

.accordion ul:hover li,
.accordion ul:focus-within li {
  width: 8%;
}

.accordion ul li:focus {
  outline: none;
}

.accordion ul:hover li:hover,
.accordion ul li:focus,
.accordion ul:focus-within li:focus {
  width: 60%;
}

.accordion ul:hover li:hover a,
.accordion ul li:focus a,
.accordion ul:focus-within li:focus a {
  /* background: rgba(0, 0, 0, 0.1); */
}

.accordion ul:hover li:hover a *,
.accordion ul li:focus a *,
.accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accordion ul:hover li {
  width: 8% !important;
}

.accordion ul:hover li a * {
  opacity: 0 !important;
}

.accordion ul:hover li:hover {
  width: 60% !important;
}

.accordion ul:hover li:hover a {
  opacity: 1;
  /* background: rgba(0, 0, 0, 0.1); */
}

.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}


/* OBERFLÄCHENVEREDELUNG */

.details-leistungen__oberflächenveredelung {
  height: 700px;
  /* position: relative; */
  /* background: rgb(242, 242, 242); */
  background: url(../IMAGES/Leistungen/oberflächenveredelung-neu.jpeg), rgba(0, 0, 0, 1);
  clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

/* 
.details-leistungen__oberflächenveredelung:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(242, 242, 242)' height='50' width='100'%3E%3Cpolygon points='0, 10 100, 10 50, 50' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  position: absolute;
  width: 100%;
  bottom: -3.9vw;
  z-index: 1;
} */

.oberflächenveredelung h3 {
  padding: 5em 0 0 0;
  /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}

.oberflächenveredelung p {
  /* color: rgb(58, 58, 58);
  text-shadow: 0.25px 0.25px 1px rgb(255, 255, 255), 0.5px 0.5px 1px rgb(255, 255, 255); */
  color: #ffffff;
  /* text-shadow: 0.5px 0.5px 1px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0); */
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 1px 1px 3px rgb(0, 0, 0);
}

.oberflächenveredelung img {
  width: 80%;
  display: block;
  align-self: flex-end;
  margin: 0 auto;
}


/* MONTAGE */

.details-leistungen__montage {
  background: url(../IMAGES/Leistungen/montage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  /* position: relative; */
  clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

/* .details-leistungen__montage:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(176,106,179)' height='50' width='100'%3E%3Cpolygon points='0, 10 100, 10 50, 50' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  position: absolute;
  width: 100%;
  bottom: -3.9vw;
  z-index: 1;
} */

.montage h3 {
  padding: 4.5em 0 0 0;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.montage p {
  color: rgb(58, 58, 58);
  text-shadow: 0.25px 0.25px 1px rgb(255, 255, 255), 0.5px 0.5px 1px rgb(255, 255, 255);
}


/* QUALITÄTSSICHERUNG */

.details-leistungen__qualitätssicherung {
  background: url(../IMAGES/Leistungen/messraum.jpg), rgba(0, 0, 0, 1);
  background-position: 10% 62%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  /* position: relative; */
  clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
}

/* .details-leistungen__qualitätssicherung:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='rgb(176,106,179)' height='50' width='100'%3E%3Cpolygon points='0, 10 100, 10 50, 50' /%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: "";
  height: 5vw;
  position: absolute;
  width: 100%;
  bottom: -3.9vw;
  z-index: 1;
} */

.qualitätssicherung h3 {
  padding: 4em 0 0 0;
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}


/* QUALITÄTSMANAGEMENT */

.details-leistungen__qualitätsmanagement {
  background: #f2f2f2;
  height: 650px;
  padding: 4em 0 0 0;
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

.qualitätsmanagement h3 {
  padding: 4em 0 0 0;
}