/* HERO */

.hero {
  background: url("../IMAGES/Heros/hero-news.jpg");
  height: 45vh;
  background-position: 0 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* CONTENT */

.aktuelles__content {
  text-align: center;
  padding: 4rem 0 4rem 0;
}

.aktuelles__content h2 {
  padding: 0 0 1rem 0;
}

/* KONTAKT */

.kontakt {
  padding: 15rem 0 4rem 0;
}