@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500');

/* GENERAL */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* *,
html {
  padding: 0;
  margin: 0;
} */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: #ffffff;
  padding: 0;
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  display: inline-block;
}

h1,
h2,
h3 {
  /* font-family: "Open Sans",
sans-serif; */
  font-family: 'Roboto', sans-serif;
  color: rgb(58, 58, 58);
  letter-spacing: 0.05rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: clamp(3rem, 5vw, 4rem);
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

h4,
p,
div,
ul,
li,
article {
  font-size: clamp(0.9rem, 1.3vw, 1rem);
  color: #94979b;
  letter-spacing: 0.05rem;
  margin: 0;
}

p {
  line-height: 160%;
}


/* LAYOUT */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVIGATION (MOBILE) */

.nav__bar {
  padding: 0 0 1em 0;
  margin: 0 auto;
  z-index: 10;
}

.nav__logo {
  width: 5em;
  margin: 15% 0em 15% 2em;
}

.nav__logo:hover,
.nav__logo:active {
  transform: scale(0.99);
  transition: ease-in-out 600ms;
}

.nav__text {
  text-align: center;
  list-style: none;
  font-size: clamp(0.9rem, 1.3vw, 1rem);
  padding: 1em 0 5% 0;
}

.nav__list--primary {
  list-style: none;
  text-align: left;
  margin: 0 auto;
  padding: 2% 0 2% 2em;
}

.nav__link {
  text-decoration: none;
  color: #94979b;
  font-size: clamp(0.9rem, 1.3vw, 1rem);
}

.nav__item {
  margin: 0 auto 0.5em auto;
  padding: 0.375em 0 0 0;
  padding-bottom: 0.5em;
}

.nav__btn,
.nav__btn a,
.nav__btn--link,
.nav__item,
.nav__link:link,
.nav__link:visited,
.nav__btn--link:link,
.nav__btn--link:visited {
  text-decoration: none;
}

.nav__link:hover {
  color: #0066b2;
  transition: ease-in-out 300ms;
  text-shadow: none;
}

.nav__link:active,
.nav__link.active,
.nav__item a:active,
.nav__item a.active,
a.active {
  color: #0066b2 !important;
  text-shadow: 0.5px 0.5px 3px rgb(255, 255, 255), 1px 1px 4px rgb(255, 255, 255);
}

.nav__link a:active {
  color: #0066b2;
  /* text-shadow: none !important; */
  text-shadow: 0.5px 0.5px 3px rgb(255, 255, 255), 1px 1px 4px rgb(255, 255, 255);
}

.nav__item a:hover,
.nav__item a:active,
.nav__link:active,
.nav__link.active,
.a:active,
.active {
  color: #0066b2;
  text-shadow: none;
  transition: ease-in-out 300ms;
}

.nav__btn a,
.nav__btn--link {
  color: #94979b;
  font-size: clamp(0.9rem, 1.3vw, 1rem);
  padding: 0.25em 0 1.5em 0;
  /* border: 1px solid #0066b2;
  border-radius: 0.5em;
  padding: 0.25em 0.75em; */
  /* padding: 0.375em 0.875em; */
}

.nav__btn--link:hover,
.nav__btn--link:active {
  color: #0066b2;
}

.flag {
  width: 1.8em;
  padding: 0.2em 0 0 0;
}

.flag:hover,
.flag:active {
  transform: scale(0.9);
  transition: ease-in-out 600ms;
}

/* SUBNAV DROPDOWN */

.nav-dropdown {
  position: absolute;
  display: none;
  position: static;
  padding: 0;
  z-index: 10;
}

.nav-dropdown__item {
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-dropdown__link:link,
.nav-dropdown__link:visited {
  text-decoration: none;
  color: #94979b;
  font-size: 0.9rem;
}

.nav-dropdown__link:hover,
.nav-dropdown__link:active {
  color: #004980;
  text-shadow: none;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  content: " ▾";
}

nav ul li ul li a {
  padding: 0.7em 0 0 0;
}

nav ul {
  display: none;
}


/* NAV HAMBURGER */

.nav-mobile {
  /* display: none; */
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 60px;
  width: 60px;
}

#nav-toggle {
  position: absolute;
  right: 2em;
  top: 2em;
  cursor: pointer;
  padding: 10px 35px 8px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 0.1em;
  height: 0.2em;
  width: 1.8em;
  background: #0066b2;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -0.625em;
}

#nav-toggle span:after {
  bottom: -0.625em;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


/* BUTTONS */

.buttons {
  margin: 2em auto;
}

.btn+.btn {
  margin: 0 0 0 1em;
}

.btn__kontakt,
.btn__kontakt:link,
.btn__kontakt:visited {
  text-decoration: none;
  color: #ffffff;
  background: #0066b2;
  border: 1px solid #0066b2;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
  padding: 0.75em 1.5em;
}

.btn__kontakt:hover,
.btn__kontakt:active {
  background: #014779;
  border: 1px solid #014779;
  box-shadow: 2px 2px 10px 2px rgb(214, 212, 212);
  transform: scale(0.985);
  transition: scale 0.8s ease-in-out;
}


/* KONTAKT */

.kontakt__content {
  text-align: center;
  padding: 4em 0 4em 0;
}

.kontakt__content h3 {
  padding: 2em 0 1em 0;
}

.kontakt__content p {
  padding: 0 0 2em 0;
}

.kontakt__content a {
  text-decoration: none;
  margin: 0 0 4em 0;
}


/* FOOTER */

.footer {
  background: #00355c;
}

.footer__main-content {
  margin: 3em 0em 0em 2em;
}

.footer__main-content h3 {
  color: lightgrey;
  font-size: clamp(0.85rem, 1.2vw, 1rem);
  font-weight: 400;
  margin: 0.5em 0 0.75em 0em;
}

.footer__item {
  padding: 0 0 0.5em 0;
  margin: 0;
  text-decoration: none;
  color: lightgrey;
  font-size: clamp(0.7rem, 0.9vw, 9rem);
}

.footer__links,
.legal__links {
  padding: 0.5em 0 1.5em 0em;
  list-style: none;
  text-decoration: none;
}

.footer__link,
.legal__link {
  padding: 0 0 0.5em 0;
}

.footer__link:link,
.footer__link:visited,
.legal__link:link,
.legal__link:visited {
  color: lightgrey;
  text-decoration: none;
}

.footer__na {
  color: #00355c;
}

.footer__bold {
  font-weight: 500;
}

.footer__link:hover,
.footer__link:active,
.legal__link:link,
.legal__link:visited {
  color: grey;
  transition: ease-in-out 600ms;
}

.legal {
  margin-bottom: 1em;
  font-size: clamp(0.7rem, 0.9vw, 9rem);
}

.footer__image {
  display: block;
  max-width: 60%;
  margin: 0;
}

.zertifiziert img:hover {
  transform: scale(0.98);
  transition: scale 0.6s ease-in-out;
}

.copyright {
  font-size: 0.7rem;
  font-size: clamp(0.65rem, 0.8vw, 7rem);
  text-align: right;
  color: grey;
  padding: 2em 2em 2em 0;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
  }

  /* NAV */

  #nav-toggle,
  .nav-mobile {
    display: none;
  }

  .nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: visible;
    height: auto;
    top: 0;
    left: 0;
    padding: 0.25em 2.25em 0.25em 2.25em;
    /* transition: 0.3s; */
    z-index: 10;
  }

  nav ul {
    display: block;
  }

  nav ul,
  nav ul li,
  nav ul li a {
    position: relative;
    /* transition: 0.3s; */
  }

  .nav img {
    align-content: center;
  }

  .nav__logo {
    margin: 0 1em 0.25em 0;
  }

  .nav__logo:hover,
  .nav a img:hover .nav a img:active,
  .nav__logo:active {
    transform: scale(0.9);
    transition: ease-in-out 600ms;
  }

  .nav__list--primary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.75em 0 0 0;
  }

  .nav__item+.nav__item,
  .nav__btn a,
  .flag {
    margin-left: 1.5em;
  }

  .nav__list--primary .nav__item,
  .nav__list--primary .nav__link:link,
  .nav__list--primary .nav__link:visited {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0.5px 0.5px 3px rgb(0, 0, 0), 1px 1px 4px rgb(0, 0, 0);
  }

  .nav__list--primary .nav__link:hover,
  .nav__list--primary .nav__link:active {
    color: #004980;
    transition: ease-in-out 600ms;
    /* text-shadow: 0.5px 0.5px 3px rgb(0, 0, 0), 1px 1px 4px rgb(255, 255, 255); */
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
  }

  .nav__btn a,
  .nav__btn a:link,
  .nav__btn a:visited {
    color: #ffffff;
    text-shadow: 0.5px 0.5px 3px rgb(0, 0, 0), 1px 1px 4px rgb(0, 0, 0);
    padding: 0.375em 0.875em 0.0625em 0.875em;
  }

  .nav__btn a,
  .nav__btn a:hover,
  .nav__btn a:active {
    color: #004980;
    border-radius: 0.5em;
    transition: ease-in-out 800ms;
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
  }

  .nav__link a:active {
    color: #0066b2;
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
  }

  .nav__item a:hover,
  .nav__item a:active,
  .nav__link:active,
  .nav__link.active,
  .a:active,
  .active {
    color: #0066b2;
    text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255) !important;
    transition: ease-in-out 300ms;
  }

  /* NAV STICKY */

  .nav.sticky {
    background: #ffffff;
    box-shadow: 0.25px 0.25px 5px 0px rgb(209, 208, 208);
  }

  .nav.sticky .nav__item a,
  .nav.sticky .nav__item a:link,
  .nav.sticky .nav__item a:visited,
  .nav.sticky .nav__item,
  .nav.sticky .nav__link:link,
  .nav.sticky .nav__link:visited {
    color: #94979b;
    text-shadow: none;
  }

  .nav.sticky .nav__item a:hover,
  .nav.sticky .nav__item a:active,
  .nav.sticky .nav__link:active,
  a:active {
    color: #0066b2;
    text-shadow: none;
    transition: ease-in-out 300ms;
  }

  .nav.sticky .nav__btn a,
  .nav.sticky .nav__btn a:link,
  .nav.sticky .nav__btn a:visited {
    text-shadow: none;
    border: 1px solid #0066b2;
    border-radius: 0.5em;
    padding: 0.375em 0.875em;
    color: #0066b2;
  }

  .nav.sticky .nav__btn a:hover,
  .nav.sticky .nav__btn a:active {
    text-shadow: none;
    color: #fff;
    background: #004980;
    border: 1px solid #004980;
    transform: scale(0.99);
    transition: scale 0.8s ease-in-out;
    box-shadow: 0.5px 0.5px 10px 0px rgb(209, 208, 208);
  }

  .nav.sticky .nav__btn--link:hover,
  .nav.sticky .nav__btn--link:active {
    color: #fff;
    background: #004980;
    border: 1px solid #004980;
    border-radius: 0.5em;
    transform: scale(0.99);
    transition: scale 0.8s ease-in-out;
  }

  .nav.sticky .flag {
    width: 1.8em;
    padding: 0.2em 0 0 0;
  }

  .nav.sticky .nav__img:hover,
  .nav.sticky .nav__item img:hover,
  .nav.sticky .nav__img:active,
  .nav.sticky .nav__item img:active {
    box-shadow: 2px 2px 10px 0px rgb(209, 208, 208);
    transform: scale(0.9);
    transition: ease-in-out 600ms;
  }


  /* FOOTER */

  .footer__main-content {
    padding: 4em 3em 3em 3em;
    margin: 0;
  }

  .footer__main-content h3 {
    padding: 0 0 1em 0;
  }

  .footer__secondary-content {
    padding: 0 3em 0 3em;
  }

  .footer__main-content h3 {
    color: lightgrey;
    font-weight: 400;
    margin-bottom: 0.75rem;
  }

  .footer__item {
    padding: 0 0 0.5em 0;
    margin: 0;
    text-decoration: none;
    color: lightgrey;
  }

  .leistungsspektrum+.leistungsspektrum {
    margin-left: 1em;
  }

  .footer__links,
  .legal__links {
    padding: 0.5em 0 1.5em 1em;
    list-style: none;
    text-decoration: none;
  }

  .footer__links,
  .legal__links {
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

  .zertifiziert {
    text-align: right;
    margin: 0;
    width: 13%;
  }

  .footer__image {
    display: block;
    max-width: 80%;
    align-self: flex-end;
    margin: 0 0 0 auto;
  }

  /* .legal__item+.legal__item {
    margin-left: 1em;
  } */

  .zertifiziert img {
    align-self: flex-end;
  }

  .copyright {
    padding: 0 0 2em 0;
  }

}

@media (min-width: 1200px) {

  .container {
    width: 95%;
    margin: 0 auto;
  }

  /* NAV */

  .nav__item+.nav__item,
  .nav__btn a,
  .flag {
    margin-left: 3em;
  }

  /* FOOTER */

  .leistungsspektrum+.leistungsspektrum {
    margin-left: 3em;
  }
}

@media (min-width: 1800px) {

  .container {
    width: 70%;
    margin: 0 auto;
  }
}