/* GENERAL */

.hero {
  /* background: url("IMAGES/Sponsorings/hero-cure-mannheim-sponsoring_undone.jpg"); */
  background: linear-gradient(to left, rgba(0,0,0,0) 10%,
  rgba(0,0,0,0.4)), url("../IMAGES/Sponsorings/hero-cure-mannheim-sponsoring-long.jpg");
  height: 65vh;
  background-position: 70% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: clamp(2vw, 120%, 4.5rem);
  font-weight: lighter;
  text-shadow: 3px 3px 3px rgb(0, 0, 0), 6px 6px 6px rgb(0, 0, 0);
  padding: 85% 0 0 0.5em;
}

.sponsoring-info {
  width: 100vw;
  background: #ffffff;
}

.sponsoring-info__content {
  padding: 5rem 2rem 5rem 2rem;
}

.sponsoring-info__title {
  margin: 0 0 2rem 0;
}

.sponsoring-info__text {
  width: 100%;
  margin: 0 auto;
}

.sponsoring-info__text h2 {
  font-size: clamp(1.2rem, 3vw, 1.7rem);
}

.text-1 {
  margin-bottom: 1em;
}

.sponsoring-info__text--paragraph+.sponsoring-info__text--paragraph {
  margin-bottom: 1em;
}

/* SPONSORINGS */

.sponsoring-text h3  {
  margin: 2rem 0 2rem 0;
}

.sponsoring-text > * + *  {
  margin: 0 0 1rem 0;
}

.sponsoring-cure-mannheim {
  margin: 0 2rem 0 2rem;
}

.sponsoring-martin-werz {
  margin: 5rem 2rem 5rem 2rem;
}

.image {
  width: 100%;
}

.sponsoring-martin-werz-image {
  padding-top: 2rem;
}

/* CURE */

/* .sponsoring-cure-mannheim {
  background: rgb(243, 243, 243);
  padding: 8em 0 8em 0;
  justify-content: space-evenly;
}

.sponsoring-cure-mannheim-text {
  width: 400%;
}

.sponsoring-cure-mannheim-text h3 {
  padding: 0 0 1em 0;
}

.sponsoring-cure-mannheim-text p {
  padding: 0 0 1em 0;
}

.sponsoring-cure-mannheim-image {
  align-self: center;
}

.image-cure-mannheim {
  width: 85%;
} */

/* WERZ */

/* .sponsoring-martin-werz {
  padding: 10em 0 10em 0;
  justify-content: space-between;
}

.sponsoring-martin-werz-text {
  width: 50%;
}

.sponsoring-martin-werz-text h3 {
  padding: 0 0 1em 0;
}

.sponsoring-martin-werz-text p {
  padding: 0 0 1em 0;
}

.sponsoring-martin-werz-image {
  align-self: center;
}

.image-martin-werz {
  width: 100%;
} */


/* MEDIAQUERIES */

@media (min-width: 600px) {
  .hero {
    height: 65vh;
    background-position: 80% 70%;
  }

  .hero__title {
    padding: 55% 3% 0 3%;
  }

  .sponsoring-martin-werz-image {
    padding-top: 4rem;
  }
}

@media (min-width: 900px) {

  .hero {
    height: 65vh;
    background-position: 70% 70%;
  }

  .hero__title {
    padding: 35% 3% 0 3%;
  }

  .sponsorings {
    flex-basis: 100%;
    justify-content: space-between;
    padding-bottom: 10rem;
  }
  
  .sponsoring {
    flex-basis: 100%;
    background: rgb(248, 248, 248);
    padding: 0 2rem;
  }
  
  .sponsoring-text h3  {
    margin: 2rem 0 2rem 0;
  }

  .sponsoring-info__content {
    padding: 6em 0 3.5em 0;
    text-align: center;
  }

  .sponsoring-info__text {
    width: 70%;
    padding: 1em 0 3em 0;
  }

  .image {
    padding-top: 2rem;
  }

  .sponsoring-cure-mannheim {
    margin: 0 1rem 0 2rem;
  }

  .sponsoring-martin-werz-image {
    padding-top: 0rem;
  }
  
  .sponsoring-martin-werz {
    margin: 0 2rem 0 1rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 70vh;
    background-position: 45 90%;
  }

  .hero__title {
    padding: 25% 2% 0 2%;
  }

  .sponsoring-info__content {
    padding: 8em 0em 7.5em 0em;
  }

  .sponsoring-info__text {
    width: 50%;
    padding: 1em 0 1em 0;
  }

  .sponsoring-text h3  {
    min-width: 34ch;
  }

  .sponsoring-cure-mannheim {
    margin: 0 2rem 0 4rem;
  }
  
  .sponsoring-martin-werz {
    margin: 0 4rem 0 2rem;
  }

}

@media (min-width: 1800px) {

  .sponsoring-info__text {
    width: 50%;
    max-width: 500px;
  }
}