/* GENERAL */

.hero {
  width: 100vw;
  height: 100vh;
  background: lightgrey;
}

.unternehmen-info {
  width: 100vw;
  height: 50vh;
  background: #ffffff;
}

.unternehmen-info__title {
  margin: 0 0 1em 0;
}

.unternehmen-info__text+.unternehmen-info__text {
  margin-bottom: 1em;
}

.kontakt {
  width: 100vw;
  height: 50vh;
  background: #ffffff;
}

.kontakt__content h3 {
  padding: 2em 0 1em 0;
}

.kontakt__content p {
  padding: 0 0 2em 0;
}

.kontakt__content a {
  text-decoration: none;
  margin: 0 0 4em 0;
}