/* GENERAL */

.hero {
  background: url("../IMAGES/Heros/hero-unternehmen.jpeg");
  height: 65vh;
  background-position: 90% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: lighter;
  line-height: 4rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0), 6px 6px 6px rgb(0, 0, 0);
  padding: 30% 0 0 0.5em;
}

.unternehmen-info {
  width: 100vw;
  background: #ffffff;
}

.unternehmen-info__content {
  padding: 3em 0 5em 0;
}

.unternehmen-info__title {
  margin: 0 0 1em 0;
}

.unternehmen-info__text {
  padding: 1em 2em 3em 2em;
  width: 100%;
}

.unternehmen-info__text h2 {
  font-size: 1.7rem;
}

.text-1 {
  margin-bottom: 1em;
}

.unternehmen-info__text--paragraph+.unternehmen-info__text--paragraph {
  margin-bottom: 1em;
}

.unternehmen-info__image {
  width: 100%;
}

.unternehmen-info__image img {
  width: 30%;
  margin: 0 auto;
}


/* MEDIAQUERIES */

@media (min-width: 600px) {}

@media (min-width: 900px) {

  .hero {
    height: 65vh;
    /* height: 100vh; */
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    font-size: 4rem;
    line-height: 4.5rem;
    padding: 15% 0 0 10%;
    /* padding: 38% 0 0 10%; */
  }

  .unternehmen-info__content {
    padding: 6em 0 5.5em 0;
    display: flex;
    justify-content: space-between;
  }

  .unternehmen-info__text {
    width: 60%;
    padding: 1em 0 1em 10%;
    margin-right: 1em;
  }

  .unternehmen-info__image {
    width: 40%;
    align-self: center;
    justify-self: center;
  }

  .unternehmen-info__image img {
    width: 40%;
    align-self: center;
    justify-self: center;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 65vh;
    /* height: 100vh; */
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__title {
    font-size: 4rem;
    line-height: 4.5rem;
    padding: 15% 0 0 10%;
    /* padding: 38% 0 0 10%; */
  }

  .unternehmen-info__content {
    padding: 8em 0 7.5em 0;
    display: flex;
    justify-content: space-between;
  }

  .unternehmen-info__text {
    width: 54%;
    padding: 1em 0 1em 10%;
    margin-right: 1em;
  }

  .unternehmen-info__image {
    width: 40%;
    align-self: center;
    justify-self: center;
  }

  .unternehmen-info__image img {
    width: 40%;
    align-self: center;
    justify-self: center;
  }
}

@media (min-width: 1800px) {

  .unternehmen-info__text {
    width: 50%;
    max-width: 500px;
  }
}