.hero {
  background: url("../IMAGES/Mitarbeiter/mitarbeiter-1.jpeg"), linear-gradient(rgba(0, 102, 178, 0.99),
      rgba(0, 102, 178, 0.15));
  height: 65vh;
  background-position: 0 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: 4rem;
  font-weight: lighter;
  line-height: 4.5rem;
  text-shadow: 3px 3px 3px rgb(0, 0, 0),
    6px 6px 6px rgb(0, 0, 0);
  padding: 20% 0 0 14%;
}


/* MAIN */

.zertifizierung__content {
  padding: 6em 0em 6em 0em;
}

.zertifizierung__title {
  padding: 0em 0em 1em 0em;
}