@media (min-width: 900px) {

  .hero {
    height: 65vh;
    background-position: 0 5%;
  }

  .hero__title {
    padding: 30% 0 0 3.5%;
  }

  /* INTRO */

  .intro-branchen {
    text-align: center;
  }

  .intro-branchen__content {
    width: 60%;
    padding: 5em 0 5em 0;
  }

  /* BRANCHEN */

  .details-branchen {
    margin: 0;
  }

  .details-branchen__content {
    width: 80%;
  }

  .luft-und-raumfahrt {
    height: 800px;
    background-position: 0 25%;
  }

  .details-branchen__content--luft-und-raumfahrt {
    padding: 5em 0% 0em 5%;
  }

  .medizintechnik {
    height: 800px;
    background-position: 0 25%;
  }

  .details-branchen__content--medizintechnik {
    padding: 5em 0em 0em 5%;
  }

  .rehatechnik {
    height: 800px;
    background-position: 0 25%;
  }

  .details-branchen__content--rehatechnik {
    padding: 5em 0% 0em 5%;
  }

  .sensortechnik {
    height: 800px;
    background-position: 40% 25%;
  }

  .details-branchen__content--sensortechnik {
    padding: 5em 0em 0em 5%;
  }

  .lebensmitteltechnik {
    height: 800px;
    background-position: 0% 90%;
  }

  .details-branchen__content--lebensmitteltechnik {
    padding: 5em 0% 0em 5%;
  }

  .verteidigungs-und-wehrtechnik {
    height: 750px;
    background-position: 0 25%;
  }

  .details-branchen__content--verteidigungs-und-wehrtechnik {
    padding: 5em 0% 0em 5%;
  }

  .motorsport {
    height: 750px;
    background-position: 0 25%;
  }

  .details-branchen__content--motorsport {
    padding: 5em 0% 0em 5%;
  }
}