/** Full Page Scroll-Snapping HTML Sections */
main {
	min-height: 800px;
	height: 100vh;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

section {
	min-height: 800px;
	height: 100vh;
	scroll-snap-align: center;
}

/** Section inner layout */
section {
	padding-left: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/** Reset / Basic styling */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	font-size: 2vmax;
}

h1 {
	font-size: 4em;
}