.hero {
  background: url("../IMAGES/Heros/hero_kontakt.png");
  height: 65vh;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__title {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: lighter;
  line-height: 4rem;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  padding: 10% 0 0 5%;
}


/* KONTAKT */

.kontakt__text {
  text-align: left;
  color: rgb(58, 58, 58);
  margin: 0;
  padding: 0;
}

.kontakt__name,
.kontakt__info--adresse,
.kontakt__info--daten,
.kontakt__info--erreichbarkeit {
  margin: 0;
  padding: 0;
}

.kontakt__info a {
  display: inline-block;
  text-decoration: none;
  color: #94979b;
}


/* ANSPRECHPARTNER */

.ansprechpartner {
  background: #fafafa;
  border-top: lightgrey;
  border-bottom: lightgrey;
}

.ansprechpartner h3 {
}

.ansprechpartner__content {
}

.ansprechpartner__content p {
}

.ansprechpartner__card {
  width: 80%;
}


/* CARDS */

.ansprechpartner__cards > * + *  {
  margin: 2rem 0 0 0;
}

.ansprechpartner__card {
  min-width: 36ch;
  background: #ffffff;
  border-radius: 0 0 0.25em 0.25em;
  box-shadow: 0.5px 0.5px 10px 0px rgb(209, 208, 208);
}

.ansprechpartner__card img {
  width: 100%;
  box-shadow: 0.5px 0.5px 10px 0px rgb(209, 208, 208);
}

.name {
  color: rgb(58, 58, 58);
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  font-weight: 500;
  padding: 1rem 0.75rem 0.25rem 0.75rem;
}

.title {
  color: #94979b;
  font-size: clamp(0.6rem, 1vw, 0.8rem);
  font-weight: 300;
  padding: 0rem 0.75rem 0.5rem 0.75rem;
}

.number {
  padding: 1rem 0.75rem 0rem 0.75rem;
}

.number,
.email {
  color: #94979b;
  font-size: clamp(0.7rem, 1.1vw, 0.9rem);
  font-weight: 300;
}

.email {
  text-decoration: none;
  padding: 0rem 0.75rem 1rem 0.75rem;
}


/* MEDIAQUERIES */

@media (min-width: 600px) {

  /* ANSPRECHPARTNER */

  .ansprechpartner__cards > * + *  {
    margin: 0 0 0 2rem;
  }

  .ansprechpartner__card {
    display: inline-block;
    width: min(320px, 50%);
  }

  .ansprechpartner__card {
    flex-basis: 30%;
    /* margin: 0 auto 0 0; */
  }

  .ansprechpartner__cards {
    flex-wrap: wrap;
  }

}

@media (min-width: 900px) {

  /* HERO */

  .hero {
    height: 65vh;
    background-position: 70% 0%;
  }

  .hero__title {
    padding: 10% 0 0 5%;
  }


  /* KONTAKT */

  .kontakt__text {
    align-content: space-between;
  }


  /* CARDS */

  .ansprechpartner__card {
    justify-content: space-between;
  }

}

@media (min-width: 1200px) {

  .hero {
    height: 45vh;
    background-position: 70% 0%;
  }

  .hero__title {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  /* KONTAKT */

  .kontakt {
    justify-content: space-around;
    align-content: center;
  }

  .kontakt__content {
    flex-basis: 25%;
    
  }

  .kontakt__text {
    background: var(--clr-br-light);
    /* margin: 0 auto 0 0; */
  }

  .kontakt__text h3 {
    margin: 0;
    padding: 0;
  }

  .kontakt__info {
    align-self: flex-end;
  }

  .kontakt__daten a {
  }



  /* ANSPRECHPARTNER */

  .ansprechpartner {
    flex-basis: 70%;
    background: #ffffff;
    border-top: none;
    border-bottom: none;
  }

  .ansprechpartner h3 {
  }

  .ansprechpartner__content p+.ansprechparter__content p {

  }

  .ansprechpartner__card {
    flex-basis: 30%;
    /* margin: 0 auto 0 0; */
  }

  .ansprechpartner__card--text {
    min-width: 36ch;
  }
}

@media (min-width: 1800px) {}