/* FERTIGUNG */

.details-leistungen__fertigung {
  background: rgb(242, 242, 242);
  min-height: 450px;
}

.details-leistungen__text--bold {
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  font-weight: 400;
  text-transform: uppercase;
  padding: 0em 0 0.5em 0;
}

.details-leistungen__text--light {
  font-size: clamp(0.8rem, 1.3vw, 0.9rem);
  font-weight: 300;
  padding: 0;
}

.text-1 {
  padding-top: 1em;
}

/* .details-leistungen__text--light+.details-leistungen__text--light {
  margin-bottom: 0.25em;
} */


.details-leistungen__fertigung--card {
  width: 19%;
}

.fertigung {
  width: 55%;
  text-align: center;
  padding: 5em 0 1em 0;
  margin: 0 auto;
}

.fertigung__content p {
  font-weight: 300;
}


/* ACCORDION */

.section-accordion {
  background: rgb(242, 242, 242);
  padding: 0 0 8em 0;
}

.accordion {
  width: 100%;
  max-width: 1400px;
  min-height: 400px;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  margin: 0 auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 20%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 600ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li div a {
  display: block;
  min-height: 500px;
  width: 100%;
  position: relative;
  z-index: 3;
  /* vertical-align: bottom; */
  padding: 2.5em 0 1.5em 6em;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 600ms ease;
}

.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 86%;
  color: rgb(58, 58, 58);
  text-shadow: 0.25px 0.25px 0.5px rgba(255, 255, 255, 1), 0.5px 0.5px 1px rgba(255, 255, 255, 1);
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: wrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.accordion ul li div a h4 {
  text-overflow: wrap;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  text-transform: uppercase;
  padding-bottom: 1em;
  top: 5px;
}

.accordion ul li div a h5 {
  text-overflow: wrap;
  font-size: clamp(0.85rem, 1.2vw, 0.95rem);
  font-weight: 600;
  padding: 0;
  top: 5px;
}

.accordion ul li div a p {
  text-overflow: wrap;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  font-weight: 400;
  top: 5px;
}

.accordion ul li:nth-child(1) {
  background: url("../IMAGES/Leistungen/drehen.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.accordion ul li:nth-child(2) {
  background: url("../IMAGES/Leistungen/fräsen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.accordion ul li:nth-child(3) {
  background: url("../IMAGES/Leistungen/fräsen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.accordion ul li:nth-child(4) {
  background: url("../IMAGES/Leistungen/bohren.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.accordion ul li:nth-child(5) {
  background: url("../IMAGES/Leistungen/drahterodieren.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

/* .accordion ul li:nth-child(1):active:not(.focus-within),
.accordion ul li:nth-child(2):active:not(.focus-within),
.accordion ul li:nth-child(3):active:not(.focus-within),
.accordion ul li:nth-child(4):active:not(.focus-within),
.accordion ul li:nth-child(5):active:not(.focus-within) {
  filter: blur(1.5px);
} */

.accordion ul:hover li,
.accordion ul:focus-within li {
  width: 8%;
}

.accordion ul li:focus {
  outline: none;
}

.accordion ul:hover li:hover,
.accordion ul li:focus,
.accordion ul:focus-within li:focus {
  width: 60%;
}

/* .accordion ul:hover li:hover a,
.accordion ul li:focus a,
.accordion ul:focus-within li:focus a {
  background: rgba(0, 0, 0, 0.1);
} */

.accordion ul:hover li:hover a *,
.accordion ul li:focus a *,
.accordion ul:focus-within li:focus a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accordion ul:hover li {
  width: 8% !important;
}

.accordion ul:hover li a * {
  opacity: 0 !important;
}

.accordion ul:hover li:hover {
  width: 60% !important;
}

.accordion ul:hover li:hover a {
  opacity: 1;
}

.accordion ul:hover li:hover a * {
  opacity: 1 !important;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* HEADER ACCORDION FOLDED */

.drehen,
.fräsen,
.schleifen,
.bohren,
.drahterodieren {
  position: relative;
}

.drehen::before {
  position: absolute;
  content: "Drehen";
  font-size: 1.3em;
  text-transform: uppercase;
  top: 46px;
  left: 95px;
  transition: ease-in-out 600ms;
}

/* .drehen::before:hover,
.drehen::before:active {
  opacity: 0 !important;
} */

.fräsen::before {
  position: absolute;
  content: "Fräsen";
  font-size: 1.3em;
  text-transform: uppercase;
  top: 46px;
  left: 95px;
  opacity: 1;
}

.schleifen::before {
  position: absolute;
  content: "Schleifen";
  font-size: 1.3em;
  text-transform: uppercase;
  top: 46px;
  left: 95px;
  opacity: 1;
}

.bohren::before {
  position: absolute;
  content: "Bohren";
  font-size: 1.3em;
  text-transform: uppercase;
  top: 46px;
  left: 95px;
  opacity: 1;
}

.drahterodieren::before {
  position: absolute;
  content: "Drahterodieren";
  font-size: 1.3em;
  text-transform: uppercase;
  top: 46px;
  left: 95px;
  opacity: 1;
}


@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }

  .accordion {
    height: auto;
  }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}

/* ACCORDION MOBILE VERSION */

* {
  box-sizing: border-box
}

.slideshow-container {
  max-width: 1000px;
  /* max-height: 600px; */
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 1em 8em;
  position: absolute;
  top: 5em;
  width: 100%;
  text-align: left;
}

.numbertext {
  color: lightgray;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 2em;
  left: 48%
}

/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */

/*.active,*/
/*.dot:hover {*/
  /*background-color: #717171;*/
/*}*/

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
