.hero {
  background: url("../../IMAGES/Mitarbeiter/mitarbeiter-1.jpeg"), linear-gradient(rgba(0, 102, 178, 0.99),
      rgba(0, 102, 178, 0.15));
  height: 65vh;
  background-position: 0 5%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: #ffffff;
  font-size: 4rem;
  font-weight: lighter;
  line-height: 4.5rem;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  padding: 25% 0 0 5%;
}

.sensortechnik {
  padding: 4em 0 4em 0;
  text-align: center;
}